<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Priorizar</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field 
                  v-model="selectedItem.nombre_propuesta"
                  label="Nombre Propuesta"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>   

                <v-text-field 
                  v-model="selectedItem.nombre_representante"
                  label="Nombre del Representante"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>    
                           
                <td class="justify-center layout">
                  <v-switch
                    slot="activator"
                    v-model="selectedItem.priorizacion"
                    color="success"
                    class="mt-2"
                  ></v-switch>
                  <span>{{ (selectedItem.priorizacion)? 'Priorizar':'No Priorizar' }}</span>                            
                </td>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
            <v-spacer></v-spacer>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px">  

                <v-text-field
                v-model="fecha_date_formatted"
                label="Fecha Creación"
                prepend-icon="event"
                readonly slot="activator"
                :rules="[v => !!v || 'Requerido']"
                hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="fecha_date" no-title @input="menu = false" locale="es-bo"></v-date-picker>
                </v-menu>

                <v-card-text>                
                <v-textarea
                  v-model="selectedItem.conclusiones"
                  label="Conclusiones"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>                
              </v-card-text>       
            </v-flex>     
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  components: {
    
  },
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      convocatorias: [],
      selectedItem: {
        proyecto:{}
      },
      fecha_date: null,
      fecha_date_formatted: null,
      menu: null,
      error: ''
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogForm", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;       
      // this.getPriorizacion(item);
      this.fecha_date_formatted = this.$moment(item.fecha_creacion).format("DD/MM/YYYY")  
    });
  },
  
  watch: {    
    fecha_date(val){
      this.selectedItem.fecha_creacion = val
      this.fecha_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  },
  
  computed: {  
  },
  
  methods: {  
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialogForm");
      this.selectedIndex = -1;
      this.selectedItem = {};    
    }, 

    async getPriorizacion() {
      let res = await axios.get("api/convocatoria");
      this.priorizacion = res.data;
      this.selectedItem= this.priorizacion;
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedItem.id!=null) {
            await axios.put("api/priorizacion/"+this.selectedItem.id, this.selectedItem)
          } else {
            this.selectedItem.proyecto_id = this.selectedItem.idproyecto,             
            await axios.post("api/priorizacion", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();        
        }
      } catch(e) {
        console.log(e)
      }
    },    
  },  
};
</script>