<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary" v-on:click.capture="openMap">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm4 md4>
              <v-card-text>
                <v-select
                  :items="departamentos"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.departamento_id"
                  label="Departamento"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                <v-text-field
                  v-model="selectedItem.codigo"
                  label="Codigo"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 5) || 'No mayor a 5 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                  @change="codevalidate()"
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.nombre"
                  label="Nombre"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 100) || 'No mayor a 100 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripción"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 500) || 'No mayor a 500 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm4 md4>
              <v-card-text>                
                <v-text-field
                  v-model="selectedItem.latitud"
                  @input="setMarked($event)"
                  v-on:change="setMarked"                  
                  label="Latitud"
                  type="number"
                  :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'latitud incorrecta']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.longitud"
                  @input="setMarked($event)"
                  v-on:change="setMarked"                  
                  label="Longitud"
                  type="number"
                  :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'latitud incorrecta']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.direccion"
                  label="Dirección"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 500) || 'No mayor a 500 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>               
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm4 md4>
              <v-card-text>                
                    <lmap style="height:350px" :bus="bus_map"/>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import * as lmap from '../../admin/shared/leaf-map'


export default {
  components: {
    lmap
  },    
  props: ["item", "bus"],  
  data() {
    return {  
      loading: false,
      bus_map: new Vue(),             
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {
        latitud: null, 
        longitud: null
      },
      departamentos: [],
      place: null,
      lat: -16.290154,
      lng: -63.588654,
      zoom: 5,
      error: '',
      evento: true,
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialog", item => {
      this.bus_map.$emit('openMap');
      this.selectedItem = item;
      this.setMarked()      
      this.dialog = true;
      this.evento = true;      
      this.selectedIndex = item;
      this.lat = parseFloat(item.latitud);
      this.lng = parseFloat(item.longitud);
      this.zoom = 15;
    });
    this.bus_map.$on("marked", LatLng=>{
      this.selectedItem.latitud = LatLng.lat;
      this.selectedItem.longitud = LatLng.lng;
    })   
    this.getDepartamentos()
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    openMap() { 
      this.bus_map.$emit('openMap');      
    },      
    setMarked() {
      if (this.evento) {
        this.bus_map.$emit("setMarker", {
          lat: this.selectedItem.latitud,
          lng: this.selectedItem.longitud
        });
      }
    },  
    async getDepartamentos() {
      let res = await axios.get("api/departamento")
      this.departamentos = res.data
    },
    close() {
      this.dialog = false;
      this.evento = false;
      this.selectedIndex = -1;
      this.selectedItem = {}      
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");       
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/mercado/"+this.selectedItem.id, this.selectedItem)
          } else {
            await axios.post("api/mercado", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    setDescription(description) {
      this.description = description;
    },
    codevalidate(){
      axios.get('/api/mercado/codigo/'+this.selectedItem.codigo).then(response =>{
        this.error = response.data;
      });
    }
  },  
};
</script>