<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top >
      <v-icon large slot="activator" dark color="indigo" v-on:click.capture="openMap">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step step="1" :complete="step > 1">Productor</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="step > 2">Parcela</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <v-form ref="form1" v-model="valid" lazy-validation>
                <v-autocomplete                      
                  v-model="selectedItem.persona_id"
                  :items="personas"
                  item-text="carnet_identidad"
                  item-value="id"
                  label="Carnet de identidad"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  @change="getPersona()"
                  >
                </v-autocomplete>
              </v-form>
              <v-card flat color="blue-grey lighten-5" v-if="persona !=  null">
                <v-card-text >
                  <v-layout row wrap>
                    <v-flex xs3>
                      <v-avatar
                        size="150px">
                        <img v-bind:src="persona.fotografia">
                      </v-avatar>
                    </v-flex>
                    <v-flex xs9>
                      <table>
                        <tr>
                          <th class="text-xs-left">Nombre: </th>
                          <td class="text-xs-left"> {{ fullName(persona) }} </td>
                        </tr>                  
                        <tr>
                          <th class="text-xs-left">Carnet de identidad: </th>
                          <td class="text-xs-left"> {{ persona.carnet_identidad + ' ' + persona.departamento_extension.sigla }} </td>
                        </tr>
                        <tr>
                          <th class="text-xs-left">Estado civil: </th>
                          <td class="text-xs-left"> {{ persona.estado_civil }} </td>
                        </tr>
                        <tr>
                          <th class="text-xs-left">Género: </th>
                          <td class="text-xs-left"> {{ persona.genero == 'M' ? 'Masculino' : 'Femenino' }} </td>
                        </tr>
                      </table>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-stepper-content>
            <v-stepper-content step="2">
              <v-form ref="form2" v-model="valid" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4 md4>
                    <v-card-text>
                      <v-text-field
                      v-model="selectedItem.edad_parcela"
                      label="Edad de parcela"
                      type="number"
                      :rules="[v => !!v || 'Requerido']"
                      hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      ></v-text-field>
                    <v-autocomplete                      
                      v-model="selectedItem.comunidad_id"
                      :items="comunidades"
                      item-text="nombre"
                      item-value="id"
                      label="Comunidad"
                      :rules="[v => !!v || 'Requerido']"
                      hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      >
                    </v-autocomplete>
                    <v-text-field
                      v-model="selectedItem.latitud"
                      label="Latitud"
                      type="number"
                      :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'latitud incorrecta']"
                      hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      @change="setGeo()"
                    ></v-text-field>
                    <v-text-field
                      v-model="selectedItem.longitud"
                      label="Longitud"
                      type="number"
                      :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'longitud incorrecta']"
                      hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      @change="setGeo()"
                    ></v-text-field>
                    <v-text-field
                      v-model="selectedItem.hectareas"
                      label="Hectareas"
                      type="number"
                      :rules="[v => !!v || 'Requerido']"
                      hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    ></v-text-field>
                    </v-card-text>
                  </v-flex>
                  <v-spacer></v-spacer>
                  <v-flex xs12 sm4 md4>
                    <v-card-text>
                      <v-textarea
                        v-model="selectedItem.descripcion"
                        label="Descripción"
                        :rules="[v => !!v || 'Requerido', v => (v && v.length <= 500) || 'No mayor a 500 caracteres']"
                        hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      ></v-textarea>
                      <v-text-field
                        v-model="selectedItem.codigo_catastral"
                        label="Codigo catastral"
                        :rules="[v => !!v || 'Requerido', v => (v && v.length <= 100) || 'No mayor a 100 caracteres']"
                        hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                      ></v-text-field>  
                      <v-autocomplete                      
                        v-model="selectedItem.region_id"
                        :items="regionales"
                        item-text="nombre"
                        item-value="id"
                        label="Región"
                        :rules="[v => !!v || 'Requerido']"
                        hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                        >
                      </v-autocomplete>
                    </v-card-text>
                  </v-flex>
                  <v-flex xs12 sm4 md4>
                    <v-card-text>
                      <lmap :bus="bus_map" style="height: 350px"/>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-form>                              
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn v-if="step!=1" color="info" small @click.native="previousStep()">Anterior</v-btn>
        <v-btn v-if="step!=2" color="info" small @click.native="nextStep()">Siguiente</v-btn>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn v-if="step==2" color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import DatetimePicker from 'vuetify-datetime-picker'
import * as lmap from '../../admin/shared/leaf-map'

Vue.use(DatetimePicker)

export default {
  components: {
    lmap
  },  
  props: ["item", "bus"], 
  data() {
    return {
      bus_map: new Vue(), 
      step: 1,
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      personas: [],
      temp: [],
      persona: null,
      menu: null,
      menu1: null,
      begin_date: null,
      begin_date_formatted: null,
      end_date: null,
      end_date_formatted: null,
      vehiculos: [],
      vehiculo: null,
      marcas: [],
      marca: null,
      colores: [],
      color: null,
      correlativo: null,
      departamentos: [],
      localidad: null,
      localidades:[],
      rutas: [],
      ruta: null,
      markers: [],
      markersTemp: [],
      place: null,
      lat: -16.290154,
      lng: -63.588654,
      zoom: 5,
      puestos_de_control:[],
      permanencia: [],
      error: '',
      puestos_venta: [],
      direct: false,
      comunidades: [],
      regionales: []
    };
  },
  created() {
    
  }, 
  mounted() {
    this.bus.$on("openDialog", item => {
      this.dialog = true      
      this.selectedIndex = item
      this.selectedItem = item
      this.selectedItem.persona_id = item["personas"][0]["pivot"]["persona_id"];      
      this.begin_date_formatted = this.$moment(item.fecha_inicio).format("DD/MM/YYYY")
      this.end_date_formatted = this.$moment(item.fecha_final).format("DD/MM/YYYY")
    });
    this.bus.$on('closeDialogIniciar', () => {
      this.close();
    });
    this.getDepartamentos()
    this.getPersonas()
    this.getVehiculos()
    this.getMarcas()
    this.getRutas() 
    this.getPuestosControl()   
    this.getLocalidades()
    this.getPuestosVenta()
    this.getComunidades()
    this.getRegionales()
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar'
    },
  },
  watch: {
    begin_date(val){
      this.selectedItem.fecha_parcela = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    }
  },
  methods: {    
    close() {
      this.persona = null
      this.verifica = false;
      this.encontrado = {};
      this.dialog = false;
      this.selectedIndex = -1
      this.selectedItem = {}      
      this.step = 1
      this.direct = false
      this.$refs.form1.reset()
      this.$refs.form2.reset()      
      this.bus.$emit("closeDialog")
    },
    async save() {
      try {
        this.selectedItem.user_id = this.$store.getters["auth/user"].id
        if (this.$refs.form2.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/parcela/"+this.selectedItem.id, this.selectedItem)
          } else {
            this.selectedItem.personas = [this.persona.id]
            await axios.post("api/parcela", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    async getPersonas() {
      let res = await axios.get("api/persona/fill/"+JSON.stringify({'tipo_persona_id': 1}))
      let res2 = await axios.get("api/persona/fill/"+JSON.stringify({'tipo_persona_id': 2}))
      this.temp = res.data.concat(res2.data)
      for(var temp of this.temp){
        if(temp.poder.length == 0){
          this.personas.push(temp)
        }
      }
    },
    async getPersona() {
      let res = await axios.get("api/persona/fill/"+JSON.stringify({'id': this.selectedItem.persona_id}))
      this.persona = res.data[0]
    },
    async getVehiculos() {
      let res = await axios.get("api/vehiculo")
      this.vehiculos = res.data
    },
    async getMarcas() {
      let res = await axios.get("api/marca")
      this.marcas = res.data
    },
    async getLocalidades() {
      let res = await axios.get("api/localidad")
      this.localidades = res.data
    },
    async getDepartamentos(){
      let res = await axios.get("api/departamento")
      this.departamentos = res.data;
    },
    async getRutas(){
      let res = await axios.get("api/ruta")
      this.rutas = res.data;
    },
    async getRuta(){
      let res = await axios.get("api/ruta/"+this.selectedItem.ruta_id)
      this.ruta = res.data
      this.markersTemp = []
      for(var i=0; i<this.ruta.puestos_de_control.length; i++){
        this.markersTemp.push({
          id: this.ruta.puestos_de_control[i].id,
          position: {
            lat: parseFloat(this.ruta.puestos_de_control[i].latitud),
            lng: parseFloat(this.ruta.puestos_de_control[i].longitud)
          },
        });
      }
    },
    async getPuestosVenta(){
      let res = await axios.get("api/puesto_venta")
      this.puestos_venta = res.data;
    },
    async getPuestosControl(){
      let res = await axios.get("api/puesto_de_control")
      this.puestos_de_control = res.data
      for(var i = 0; i < this.puestos_de_control.length; i++){
        const createdMarker = this.addMarker();
        createdMarker.position.lat = parseFloat(this.puestos_de_control[i].latitud);
        createdMarker.position.lng = parseFloat(this.puestos_de_control[i].longitud);
        createdMarker.id = this.puestos_de_control[i].id;
      }
    },
    async getCorrelativo() {
      let res = await axios.get("api/hoja_ruta/max/correlativo")
      this.selectedItem.correlativo = res.data
    },
    async getComunidades(){
      let res = await axios.get("api/comunidad")
      this.comunidades = res.data
    },
    async getRegionales(){
      let res = await axios.get("api/regional")
      this.regionales = res.data
    },
    async printItem(item) {
      try {        
        let res = await axios({
          method: "GET",
          url: "api/hoja_ruta/print/" + item.id,
          responseType: "arraybuffer"
        });
        let blob = new Blob([res.data], {type: "application/pdf"});
        printJS(window.URL.createObjectURL(blob));
      } catch (e) {
        console.log(e);
      }
    },
    addMarker: function addMarker() {
      this.lastId++;
      this.markers.push({
        position: {
          lat: 48.8538302,
          lng: 2.2982161
        },
        opacity: 1,
        draggable: true,
        enabled: true,
        clicked: 0,
        rightClicked: 0,
        dragended: 0,
        ifw: true,
        ifw2text: 'This text is bad please change me :( '
      });
      return this.markers[this.markers.length - 1];
    },
    nextStep() {
      switch (this.step) {
        case 1:
          if(this.$refs.form1.validate()) {           
            this.step = 2            
          }
          break        
      }
    },
    previousStep() {
      switch (this.step) { 
        case 2:
          this.step = 1          
          break       
      }
    },
    fullName(item) {
      return [item.nombre, item.primer_apellido, item.segundo_apellido].join(" ")
    },
    openMap() {
      this.bus_map.$emit('openMap');
    },
    setGeo(){
      if(this.selectedItem.longitud != null && this.selectedItem.latitud != null){
        this.bus_map.$emit("setMarker",{
          lat: this.selectedItem.latitud, 
          lng: this.selectedItem.longitud
        })
      }
    }
  },  
};
</script>