<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="indigo">add_circle</v-icon>
      <span>Registrar Recepción </span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm12 md12>
              <v-card-text>              
                <v-text-field
                  v-model="selectedItem.codigo_solicitud"
                  label="Código Solicitud"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 15) || 'No mayor a 15 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>

                <v-autocomplete                      
                  v-model="selectedItem.convocatoria_id"
                  :items="convocatorias"
                  item-text="codigo_referencia"
                  item-value="id"
                  label="Convocatoria"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2"
                  >
                </v-autocomplete>
                <v-text-field
                  v-model="selectedItem.razon_social"
                  label="Nombre/Razón Social"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>
              <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="begin_date_formatted"
                    label="Fecha de Recepción"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="ES"></v-date-picker>
                </v-menu>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      table:[],
      convocatorias:[],
      begin_date: null,
      begin_date_formatted: null,      
      menu:null,
      error: ''
    };    
  },

  watch:{
    begin_date(val){
      this.selectedItem.fecha_recepcion = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  }, 
  created() {}, 
 
  mounted() {
    this.bus.$on("openDialog", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
      this.table= this.selectedItem;
      this.getTable()
      this.begin_date_formatted = this.$moment(item.fecha_recepcion).format("DD/MM/YYYY")  

    });
    this.getTable()
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  
  methods: {
    async getTable() {
      let res = await axios.get("api/convocatoria")
      this.convocatorias = res.data
    },

    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
      this.table=[];
      this.convocatorias=[];

    },
 

    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/solicitud/"+this.selectedItem.id, this.selectedItem)
          } else {
            await axios.post("api/solicitud", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        } 
      } catch(e) {
        console.log(e)
      }
    }    
  }, 

  
};
</script>