<template>
  <v-flex sm8 md6 lg4> 
    <v-card raised>
      <v-toolbar dark color="success" flat>
        <span class="justify-center layout">
        LOGIN
        </span>
      </v-toolbar>
      <v-card-text>
        <login-form @success="success"></login-form>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    components: {
      'login-form': require('./LoginForm')
    },

    methods: {
      success(data) {
        this.$store.dispatch('auth/saveToken', data)
        this.$store.dispatch('auth/setUser', data)
        this.$router.push({ name: 'index' })
      }
    }
  }
</script>
