
<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
        <v-tab>{{ formTitle }}</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card flat color="basil">
            <!-- formulario de reclamos -->
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-card-text>
                      <v-text-field
                        v-model="selectedItem.carnet_identidad"
                        label="Carnet de identidad"
                        :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                        hint="<span class='blue--text'>*Requerido</span>"
                        persistent-hint
                      ></v-text-field>
                      <v-text-field
                        v-model="selectedItem.email"
                        label="Email"
                        :rules="[v => !!v || 'Requerido', v => /.+@.+/.test(v) || 'E-mail no es valido']"
                        hint="<span class='blue--text'>*Requerido</span>"
                        persistent-hint
                        class="mr-2"
                      ></v-text-field>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-menu
                            v-model="menu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            min-width="290px"
                          >
                            <v-text-field
                              v-model="birth_date_formatted"
                              label="Fecha de nacimiento"
                              prepend-icon="event"
                              readonly
                              slot="activator"
                              :rules="[v => !!v || 'Requerido']"
                              hint="<span class='blue--text'>*Requerido</span>"
                              persistent-hint
                              class="mr-2"
                            ></v-text-field>
                            <v-date-picker
                              v-model="birth_date"
                              no-title
                              @input="menu = false"
                              locale="ES"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-flex>
                  <v-spacer></v-spacer>
                  <v-flex xs12 sm6 md6>
                    <v-card-text>
                      <v-text-field
                        v-model="selectedItem.problema"
                        label="Problema"
                        :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                        hint="<span class='blue--text'>*Requerido</span>"
                        persistent-hint
                      ></v-text-field>
                      <v-textarea
                        v-model="selectedItem.descripcion_problema"
                        label="Descripción del problema"
                        rows="1"
                        :rules="[v => !!v || 'Requerido']"                        
                        hint="<span class='blue--text'>*Requerido</span>"
                        persistent-hint
                      ></v-textarea>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="success" small :disabled="!valid" @click="save()">
                <v-icon>check</v-icon>Enviar reclamo
              </v-btn>
            </v-card-actions>
            <!-- end formulario de reclamos -->
          </v-card>
        </v-tab-item>
      </v-tabs-items>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from "axios";

export default {
  components: {},
  props: ["bus"],
  data: () => ({
    valid: true,
    table: [],
    search: "",
    page: 1,
    perPage: 9,
    pages: [],
    posts: [""],
    dialog: false,
    tab: null,
    valid: true,
    selectedIndex: -1,
    selectedItem: {},
    show: false,
    birth_date: null,
    birth_date_formatted: null,
    menu: null
  }),
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Formulario de reclamos " : "Editar ";
    }
  },
  mounted() {
    this.getTable();
    this.bus.$on("openDialogQuestionReclamo", () => {
      this.dialog = true;
    });
  },
  watch: {
    birth_date(val) {
      this.selectedItem.fecha_nacimiento = val;
      this.birth_date_formatted =
        this.$moment(val).format("DD/MM/YYYY") ||
        this.$moment().format("DD/MM/YYYY");
    }
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/portal_reclamo");
        this.table = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    setPages(elems) {
      this.pages = [];
      let numberOfPages = Math.ceil(elems / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(table) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return table.slice(from, to);
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put(
              "api/portal_reclamo/" + this.selectedItem.id,
              this.selectedItem
            );
            this.getTable();
          } else {
            await axios.post("api/portal_reclamo", this.selectedItem);
            this.getTable();
          }
          this.$toast.success("Correcto.");
          this.$refs.form.reset();
        }
      } catch (e) {
        console.log(e);
      }
    },
    formattedDate(fecha) {
      return this.$moment(fecha).format("DD/MM/YYYY");
    }
  }
};
</script>
