<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-autocomplete                      
                  v-model="selectedItem.proyecto_id"
                  :items="proyectos"
                  item-text="nombre"
                  item-value="id"
                  label="Proyecto"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2"
                  >
                </v-autocomplete>
                <v-autocomplete                      
                  v-model="selectedItem.tipo_convocatoria_id"
                  :items="tipos_convocatoria"
                  item-text="nombre"
                  item-value="id"
                  label="Tipo de convocatoria"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2"
                  >
                </v-autocomplete>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="begin_date_formatted"
                    label="Fecha de inicio"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="ES"></v-date-picker>
                </v-menu>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="end_date_formatted"
                    label="Fecha final"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="end_date" no-title @input="menu2 = false" locale="ES"></v-date-picker>
                </v-menu>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>  
                <v-text-field
                  v-model="selectedItem.terminos_referencia"
                  label="Terminos de referencia"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.indicaciones_calificables"
                  label="Indicaciones calificables"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.codigo_referencia"
                  label="Código de referencia"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field> 
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      tipos_convocatoria: [],
      proyectos: [],
      begin_date: null,
      begin_date_formatted: null,
      end_date: null,
      end_date_formatted: null,
      menu: null,
      menu2: null
    };
  },
  watch:{
    begin_date(val){
      this.selectedItem.fecha_inicio = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
    end_date(val){
      this.selectedItem.fecha_fin = val
      this.end_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  }, 
  mounted() {
    this.bus.$on("openDialog", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
      this.getTiposConvocatoria()
      this.getProyectos()
    });
    this.getTiposConvocatoria()
    this.getProyectos()
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/convocatoria/"+this.selectedItem.id, this.selectedItem)
          } else {
            this.selectedItem.tipo_proyecto = 1
            await axios.post("api/convocatoria", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    async getTiposConvocatoria() {
      let res = await axios.get("api/tipo_convocatoria")
      this.tipos_convocatoria = res.data
    },
    async getProyectos(){
      let res = await axios.get('api/proyecto')
      this.proyectos = res.data
    }
  },  
};
</script>