<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Añadir requisitos a la convocatoria</v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <RequisitoForm :bus="bus"/>
        <RemoveItem :bus="bus"/>
        <v-tooltip top>
            <v-btn slot="activator" flat icon color="indigo" @click="addRequisito()">
            <v-icon>add_circle</v-icon>
            </v-btn>
            <span>Añadir nuevo requisito</span>
        </v-tooltip>
      </v-toolbar>
      <v-card-text>        
        <v-data-table
            :headers="headers"
            :items="table"
            :search="search"
            :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
            disable-initial-sort
            class="elevation-1">
            <template slot="items" slot-scope="props">
            <tr @click="props.expanded = !props.expanded">
                <td class="text-xs-center"> {{ props.item.nombre }} </td>
                <td class="justify-center layout">
                <v-tooltip top>
                    <v-btn slot="activator" flat icon color="indigo" @click="editItem(props.item)">
                    <v-icon>edit</v-icon>
                    </v-btn>
                    <span>Editar</span>
                </v-tooltip>
                <v-tooltip top>
                    <v-btn slot="activator" flat icon color="red darken-3" @click="removeItem(props.item)">
                    <v-icon>delete</v-icon>
                    </v-btn>
                    <span>Eliminar</span>
                </v-tooltip>
                </td>
            </tr>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
            Tu Busqueda de "{{ search }}" no encontró resultados.
            </v-alert>
            <template slot="no-data">
            <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
                Sin resultados.
            </v-alert>
            </template>
        </v-data-table>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import RequisitoForm from './RequisitoForm'
import RemoveItem from './RemoveItem'

export default {
  props: ["item", "bus"],  
  components:{
    RequisitoForm,
    RemoveItem
  },
  data() {
    return {
      headers: [
        {
          text: "Nombre del requisito",
          value: "nombre",
          align: "center"
        },
        {
          text: "Opciones",
          align: "center",
          sortable: false
        }
      ],
      table: [],
      search: "",
      dialog: false,
      payload: {}
    };
  },
  mounted() {
    this.bus.$on('closeDialogRemovea', item => {
      console.log(item)
      this.close()
    })
    this.bus.$on("openDialogRequest", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
      this.table = item.requisitos
      this.payload = item
    })
    this.bus.$on('closeDialogRequisito', item => {
      this.selectedItem = item
      this.table = item.requisitos
    })
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    close() {
      this.dialog = false;
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
      this.table = []
    },
    async getTable(id){
      let res = await axios.get('api/convocatoria/'+id)
      this.table = res.data.requisitos
      console.log(this.table)
    },
    addRequisito(){
      this.bus.$emit('openDialogRequisito', this.payload)
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/requisito/${item.id}`);      
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
  },  
};
</script>