<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Seguimiento del proyecto</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.fecha_visita"
                          label="Fecha de visita"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-date-picker v-model="selectedItem.fecha_visita" no-title @input="menu = false"></v-date-picker>
                </v-menu>
                <v-text-field
                  v-model="selectedItem.porcentaje_avance"
                  label="Porcentaje de Avance"
                  type="number"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.observaciones"
                  label="Observaciones"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>
              </v-card-text>
              <v-layout v-for="doc in docs" :key="doc.id">
                <v-flex xs12>
                  <v-btn v-if="doc.uploaded" block color="light-green" dark>{{doc.name}} cargado con exito</v-btn>
                  <vue-clip v-if="!doc.uploaded"
                    :options="options"
                    :on-complete="uploaded"
                          >
                          <template slot="clip-uploader-action">                        
                            <div v-on:click.capture="uploadingInner(doc.id)" class="dz-message v-btn v-btn--block theme--light info">Subir {{doc.name}}</div>                        
                          </template>
                  </vue-clip>
              </v-flex>
              </v-layout>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card>
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <vue-clip
              :options="options"
              :on-complete="completeImage">
                <template slot="clip-uploader-action">
                  <div class="dz-message v-btn v-btn--block theme--light info">Subir Fotografias de respaldo</div>  
                </template>
            </vue-clip>
            <v-flex
              v-for="img in filesUpload"
              :key="img.fileName"
              xs4
              d-flex
            >
              <v-card flat tile class="d-flex">
                <v-img
                  v-bind:src="img.src"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                      ma-0
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueClip from 'vue-clip'

Vue.use(VueClip);
export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      menu: null,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      uploadFieldName: 'photos',
      currentStatus: null,
      lista_adjuntos: [],
      filesUpload: [],
      images: [],
      options: {
        url: 'api/upload/file',
        headers: axios.defaults.headers.common,
        paramName: 'file',
        uploadMultiple: true,
        acceptedFiles: {
          extensions:  ['application/pdf', 'image/*'],
          message: 'Formato no permitido.'
        },
        maxFilesize: {
          limit: 5,
          message: 'El archivo excede los 5Mb.'
        },
        maxFiles: 10,
      },
      docs:[
        {
          id: 1,
          name: 'Formulario de seguimiento ambiental',
          src: '',
          uploaded: false
        }
      ]
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogSeguimiento", item => {
      this.filesUpload = [];
      this.proyecto_id = item.proyecto_id;
      this.selectedItem.proyecto_id = item.proyecto_id;
      this.dialog = true;
      this.docs.forEach(elem=>elem.uploaded=false); 
    });
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          this.lista_adjuntos.push({
            name: 'images', 
            src: this.images
          });
          this.selectedItem.adjuntos = JSON.stringify(this.lista_adjuntos);
            await axios.post("api/proyectos/"+this.proyecto_id+"/seguimiento", this.selectedItem)
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    uploaded(file, status, xhr){
       let doc = this.docs.find(elem=>{
         return elem.id == this.doc_id
       })
       doc.uploaded = true;
       this.lista_adjuntos.push({
         name: doc.name,
         src: xhr.response
       });
     },
     uploadingInner(id){
      this.doc_id = id;
      },
      completeImage(file, status, xhr) {
      this.filesUpload.push({
        fileName: 'image'+this.filesUpload.length,
        src: file.dataUrl
      });
      this.images.push(xhr.response);
    },
  },  
};
</script>