<template>
  <v-container fluid>
    <v-toolbar>
      <v-toolbar-title>
        Proyectos en procesos
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-toolbar-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
          width="20px"
        ></v-text-field>
      </v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <Form :bus="bus"/>
      <FormOrden :bus="bus"/>
      <FormSeg :bus="bus"/>
      <FormReprog :bus="bus"/>
      <FormCancel :bus="bus"/>
      <FormRec :bus="bus"/>
      <RemoveItem :bus="bus"/>

    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="table"
      :search="search"
      :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
      :expand="expand"
      disable-initial-sort
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded= !props.expanded">
          <td class="text-xs-center"> {{ props.item.proyecto.nombre }}</td>
          <td class="text-xs-center"> {{ props.item.solicitud.razon_social}}</td>
          <td class="text-xs-center">{{props.item.proyecto.municipio.nombre}}</td>
        </tr>
      </template>
      <template v-slot:expand="props" >
        <v-list-tile
            key="orden1"
            avatar
            @click="emisionOrden(props.item)"
            :disabled="!isNull(props.item.orden_id)"
          >
            <v-list-tile-avatar>
              <v-icon v-bind:class="{'grey lighten-1 white--text': isNull(props.item.orden_id), 'teal lighten-1 white--text': !isNull(props.item.orden_id)}">folder</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>Orden de proceder</v-list-tile-title>
              <v-list-tile-sub-title>Emision de orden de proceder, ingrese los datos</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        <v-list-tile
            key="orden2"
            avatar
            @click="realizarSeguimiento(props.item)"
            :disabled="getAvance(props.item.proyecto.seguimientoproyecto)>=100">
            <v-list-tile-avatar>
               <v-progress-circular
                  :rotate="360"
                  :size="60"
                  :width="15"
                  :value="getAvance(props.item.proyecto.seguimientoproyecto)"
                  color="teal"
                >
                </v-progress-circular>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Seguimiento</v-list-tile-title>
              <v-list-tile-sub-title>Llenar seguimiento del proyecto, ingrese los datos</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        <v-list-tile
            key="orden3"
            avatar
            @click="reprogramarProyecto(props.item)">
            <v-list-tile-avatar>
              <v-icon v-bind:class="{'grey lighten-1 white--text': props.item.reprogramacion.length==0, 'teal lighten-1 white--text': props.item.reprogramacion.length>0}">folder</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Reprogramacion</v-list-tile-title>
              <v-list-tile-sub-title>Realizar un reprogramacion del proyecto, ingrese los datos</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        <v-list-tile
            key="orden5"
            avatar
            @click="cancelarProyecto(props.item)"
            :disabled="!isNull(props.item.proyecto.cancelacion_id)">
            <v-list-tile-avatar>
              <!-- <v-icon class="grey lighten-1 white--text">folder</v-icon> -->
              <v-icon v-bind:class="{'grey lighten-1 white--text': isNull(props.item.proyecto.cancelacion_id),'red darken-3 white--text': !isNull(props.item.proyecto.cancelacion_id)}">folder</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Cancelacion</v-list-tile-title>
              <v-list-tile-sub-title>cancelacion de un proyecto, ingrese los datos</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            key="orden4"
            avatar
            @click="recepcionProyecto(props.item)"
            :disabled="!isNull(props.item.proyecto.recepcion_id)">
          <v-list-tile-avatar>
              <v-icon v-bind:class="{'grey lighten-1 white--text': isNull(props.item.proyecto.recepcion_id), 'teal lighten-1 white--text': !isNull(props.item.proyecto.recepcion_id)}">folder</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Recepcion</v-list-tile-title>
              <v-list-tile-sub-title>Registro de evidencias de la entrega del proyecto</v-list-tile-sub-title>
            </v-list-tile-content>
        </v-list-tile>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "../../admin/RemoveItem";
import Form from "./Form";
import FormOrden from './FormOrdenProceder';
import FormSeg from './FormSeguimiento';
import FormReprog from './FormReprogramacion';
import FormCancel from './FormCancelacion';
import FormRec from './FormRecepcion';
export default {
  components: {
    RemoveItem,
    Form,
    FormOrden,
    FormSeg,
    FormReprog,
    FormCancel,
    FormRec,
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Proyecto",
        value: "nombre",
        align: "center"
      },{
        text: "Responsable",
        value: "responsable",
        align: "center"
      },
      {
        text: "Municipio",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
    expand: null
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/solicitud/aprobada")
        this.table = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/tipo_convocatoria/${item.id}`);      
    },
    emisionOrden(item){
      this.bus.$emit("openDialogOrden", item);
    },
    realizarSeguimiento(item){
      this.bus.$emit("openDialogSeguimiento", item);
    },
    reprogramarProyecto(item) {
      this.bus.$emit("openDialogReprogramar", item);
    },
    cancelarProyecto(item) {
      this.bus.$emit("openDialogCancelacion", item);
    },
    recepcionProyecto(item) {
      this.bus.$emit("openDialogRecepcion", item);
    },
    isNull(val){
      if(val==null)
        return true;
      return false;
    },
    getAvance(seguimiento) {
      let count = 0;
      seguimiento.forEach(elem=>{
        count +=parseFloat(elem.porcentaje_avance);
      });
      return count;
    }
  }
};
</script>