
<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title>Consulta de investigaciones sobre la coca</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn>
        <div class="search-wrapper">
          <v-text-field v-model="search" placeholder="Buscar..."></v-text-field>
        </div>
        <v-btn icon>
          <v-icon>check_circle</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-list two-line>
          <template v-for="(item, index) in displayedPosts">
            <v-list-tile :key="index" avatar ripple>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.nombre }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ item.descripcion }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider v-if="index + 1 < table.length" :key="`divider-${index}`"></v-divider>
          </template>
          <v-alert
            v-if="show_search"
            color="error"
            icon="fa fa-times"
            :value="show_search"
          >Tu Busqueda de "{{ search }}" no encontró resultados.</v-alert>
          <template>
            <v-alert
              v-if="show_data"
              color="info"
              icon="fa fa-times"
              :value="show_data"
            >Sin resultados.</v-alert>
          </template>
          <template>
            <div class="text-xs-center">
              <v-pagination v-if="dialog" v-model="page" :length="pages.length"></v-pagination>
            </div>
          </template>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from "axios";

export default {
  components: {},
  props: ["bus"],
  data: () => ({
    headers: [
      {
        text: "Nombre",
        value: "nombre",
        align: "center"
      },
      {
        text: "Descripción",
        value: "descripcion",
        align: "center"
      },
      {
        text: "Tipo de documento",
        value: "tipo_normativa.nombre",
        align: "center"
      },
      {
        text: "Adjunto",
        value: "adjunto",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
    page: 1,
    perPage: 9,
    pages: [],
    posts: [""],
    dialog: false,
    show_search: false,
    show_data: false
  }),
  computed: {
    displayedPosts() {
      var pag = this.paginate(
        this.table.filter(item => {
          return (
            item.nombre.toLowerCase().includes(this.search.toLowerCase()) ||
            item.descripcion.toLowerCase().includes(this.search.toLowerCase())
          );
        })
      );
      pag.length < 1 && this.table.length > 0
        ? (this.show_search = true)
        : (this.show_search = false);
      this.setPages(pag.length + 1);
      //   this.page = 1;
      return pag;
    }
  },
  mounted() {
    this.getTable();
    this.bus.$on("openDialogQuestionInvestigacion", () => {
      this.dialog = true;
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/portal_investigacion_coca");
        this.table = res.data;
        this.table.length < 1
          ? (this.show_data = true)
          : (this.show_data = false);
      } catch (e) {
        console.log(e);
      }
    },
    setPages(elems) {
      this.pages = [];
      let numberOfPages = Math.ceil(elems / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(table) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return table.slice(from, to);
    },
    close() {
      this.dialog = false;
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
      this.show_search = false;
      this.show_data = false;  
      this.search = '';                         
    },
    formattedDate(fecha) {
      return this.$moment(fecha).format("DD/MM/YYYY");
    }
  }
};
</script>
