<template>
  
  <v-content style="background-image: url('img/coca2.jpg');background-size: 100% 100%;">
    <v-toolbar dark fixed app color="primary">
      <v-toolbar-title class="white--text justify-center layout"><h1>SISCOCA</h1></v-toolbar-title>
    </v-toolbar>
    <!-- fill-height -->
    <v-container fluid fill-height justify-center align-center>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </v-container>
  </v-content>
  
</template>

<script>
  export default {
  }
</script>
