<template>
    <div id="map" class="map"></div>
</template>
<script>
import Vue from 'vue'
import { Icon } from 'leaflet'
import 'leaflet/dist/leaflet.css'

delete Icon.Default.prototype._getIconUrl;

Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
});
export default {
    props: ["item", "bus"],
    data(){
        return {
            latitud: null,
            longitud: null
        }
    },
    created(){},
    mounted() {
        this.initMap();
        this.resize();
        this.bus.$on("setMarker", item => {
            this.resize();
            this.addmarker(item);
        });
        this.bus.$on("openMap", ()=>{
            this.resize();
        });
        this.bus.$on("addExtraMarker", item =>{
            this.addExtraMarker(item);
        });
        this.bus.$on("clearMap", item=>{
            this.clearLayer();
        });
        this.bus.$on("selectExtraMarker", item =>{
            this.selectExtraMarker(item);
        });        
    },
    methods: {
        initMap() {
           this.map = L.map('map').setView([-16.290154, -63.588654], 6);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(this.map);
            this.layerGroup = L.layerGroup();
            this.layerGroup.addTo(this.map);
            this.map.on('click',e=>this.addmarker(e.latlng)) 
        },
        clearLayer(){
            this.layerGroup.clearLayers();
        },
        addmarker(latlng) {
            this.layerGroup.clearLayers();
            let marker = L.marker(latlng);
            this.latitud = latlng.lat;
            this.longitud = latlng.lng;
            marker.addTo(this.layerGroup);
            this.map.setView(latlng, 7)
            this.sendMarker(marker.getLatLng());

        },
        addExtraMarker(item) {
            this.map.off("click")
            let marker = L.marker(item.latlng, {markerId: item.id});
            marker.on('click',(e)=>{
                e.target.setIcon(L.icon({
                            iconRetinaUrl: '/img/marker-icon-2x.png',
                            iconUrl: '/img/marker-icon.png',
                            shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
                        }))
                this.bus.$emit("marker_id", {
                latlng: item.latLng,
                id: e.target.options.markerId
                })
            })
            marker.addTo(this.layerGroup);
            this.map.setView(item.latlng, 7)
        },
        selectExtraMarker(item) {
        this.map.off("click");
        this.markersTemp = [];
        let marker = L.marker(item.latlng, { markerId: item.id });
        this.layerGroup.eachLayer(layer => {
            if (item.id === layer.options.markerId) {
            marker.setIcon(
                L.icon({
                iconRetinaUrl: "/img/marker-icon-2x.png",
                iconUrl: "/img/marker-icon.png",
                shadowUrl: require("leaflet/dist/images/marker-shadow.png")
                })
            );
            marker.addTo(this.layerGroup);
            }
        });
        },    
        resize() {
            setTimeout(()=>{
            this.map.invalidateSize();
            },50)
            this.layerGroup.clearLayers();
        },
        sendMarker(latLng){
            this.bus.$emit("marked", latLng)
        }
    }
}
</script>