<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Crear Evento del Sistema</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field 
                  v-model="selectedItem.titulo"
                  label="Titulo"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 15) || 'No mayor a 15 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>   
                <v-text-field 
                  v-model="selectedItem.usuario"
                  label="Usuario"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field >                 
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px">     
                <v-text-field
                v-model="fecha_date_formatted"
                label="Fecha"
                prepend-icon="event"
                readonly slot="activator"
                :rules="[v => !!v || 'Requerido']"
                hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="fecha_date" no-title @input="menu = false" locale="es-bo"></v-date-picker>
                </v-menu>

                <v-card-text>                
                  <v-textarea
                    v-model="selectedItem.descripcion"
                    label="Descripcion"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  ></v-textarea>                
                </v-card-text>          
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
                <v-autocomplete                      
                  v-model="selectedItem.prioridad"                 
                  item-text="nombre"
                  item-value="id"
                  label="Prioridad"
                  :items="prioridad" 
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2">
                </v-autocomplete>         
               <!-- <v-card-text>                
                <v-textarea
                  v-model="selectedItem.estado"
                  label="Estado"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>                
              </v-card-text> -->
                 <template>
                  <vue-clip 
                      :options="options" 
                      :on-complete="complete">
                      <template slot="clip-uploader-action">                        
                      <div class="dz-message v-btn v-btn--small theme--light success">Subir archivo PDF</div>                        
                      </template>
                      <template slot="clip-uploader-body" slot-scope="props">                            
                      <div v-for="(file, index) in props.files" :key="index">
                          <v-icon color="success" v-if="file.status=='success'">check_circle</v-icon>
                          <span class="green--text" v-if="file.status=='success'"> correcto.</span>                            
                          <v-icon color="error" v-if="file.status=='error'">error</v-icon> 
                          <span class="red--text" v-if="file.status=='error'"> {{ file.errorMessage }}</span>
                      </div>
                      </template>                  
                  </vue-clip>
                </template>
                <v-text-field
                  v-model="valArchivo"
                  readonly box
                  label="Archivo PDF"
                ></v-text-field>   
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      prioridad: [],
      fecha_date: null,
      fecha_date_formatted: null,
      menu: null,
      error: '',
      options: {
      url: 'api/upload/file',
      headers: axios.defaults.headers.common,
      paramName: 'file',
      uploadMultiple: false,
      acceptedFiles: {
        extensions:  ['application/pdf'],
        message: 'Formato no permitido.'
      },
      maxFilesize: {
        limit: 5,
        message: 'El archivo excede los 5Mb.'
      },
      maxFiles: 1,
      },
      fileAdjunto: null,
      valArchivo: null,
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogForm", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;      
      this.fecha_date_formatted = this.$moment().format("DD/MM/YYYY")
      this.getTipoPrioridad()

    }); 
    this.getTipoPrioridad()

  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  
  watch: {
    fecha_date(val){
      this.selectedItem.fecha = val
      this.fecha_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },   
  },

  methods: { 
 
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialogForm");
      this.selectedIndex = -1;
      this.selectedItem = {};
    },

    complete (file, status, xhr) {
      this.fileAdjunto = xhr.response
      this.valArchivo = "Cargado correctamente."
    },

    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/evento/"+this.selectedItem.id, this.selectedItem)
          } else {
            this.selectedItem.lista_adjunto = this.fileAdjunto,
            this.selectedItem.prioridad_id = this.selectedItem.prioridad,
            await axios.post("api/evento", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();        
        }
      } catch(e) {
        console.log(e)
      }
    },    
    async getTipoPrioridad() {
      let res = await axios.get("api/tipo_prioridad")
      this.prioridad = res.data
    },   
  },  
};
</script>