<template>
  <v-container grid-list-md text-xs-center>
    <v-layout>
      <v-flex xs12>
        <v-dialog v-model="dialog">
          <v-btn color="primary" dark slot="activator">Vista previa</v-btn>
          <v-card>
            <embed style="width:100%; height: 450px;" class="myiframe" v-bind:src="this.file" />
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from "axios";

export default {
  components: {},
  props: {
    file: {
      type: String
    }
  },
  data: () => ({
    bus: new Vue(),
    dialog: false
  }),
  computed: {},
  mounted() {
    this.getTable();
  },
  methods: {
    async getTable() {}
  }
};
</script>
