<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.nombre"
                  label="Nombre"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripción"
                  rows="1"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-textarea>
                <v-select
                  :items="normativas"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.tipo_normativa_id"
                  label="Tipo de normativa"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-select>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <template>
                  <v-chip v-if="selectedItem.adjunto">
                    <v-btn icon :href="selectedItem.adjunto" target="_blank">
                      <v-icon color="red">picture_as_pdf</v-icon>
                    </v-btn>Archivo actual
                  </v-chip>

                  <vue-clip
                    :key="componentKey"
                    :options="options"
                    :on-complete="complete"
                    :on-added-file="fileAdded"
                  >
                    <template slot="clip-uploader-action">
                      <div
                        class="dz-message v-btn v-btn--small theme--light success"
                      >{{ formAdjunto }}</div>
                    </template>
                    <template slot="clip-uploader-body" slot-scope="props">
                      <div v-for="(file, index) in props.files" :key="index">
                        <v-icon color="success" v-if="file.status=='success'">check_circle</v-icon>
                        <span class="green--text" v-if="file.status=='success'">correcto.</span>
                        <v-icon color="error" v-if="file.status=='error'">error</v-icon>
                        <span class="red--text" v-if="file.status=='error'">{{ file.errorMessage }}</span>
                      </div>
                    </template>
                  </vue-clip>
                </template>
                <v-text-field
                  v-model="valArchivo"
                  readonly
                  box
                  label="Archivo PDF"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cancelar
        </v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()">
          <v-icon>check</v-icon>Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueClip from "vue-clip";

Vue.use(VueClip);

export default {
  props: ["item", "bus"],
  data() {
    return {
      valid: true,
      dialog: false,
      selectedIndex: -1,
      selectedItem: {},
      error: "",
      options: {
        url: "api/upload/file",
        headers: axios.defaults.headers.common,
        paramName: "file",
        uploadMultiple: false,
        acceptedFiles: {
          extensions: ["application/pdf"],
          message: "Formato no permitido."
        },
        maxFilesize: {
          limit: 5,
          message: "El archivo excede los 5Mb."
        },
        maxFiles: 5
      },
      fileAdjunto: null,
      valArchivo: null,
      tempArchivo: null,
      files: [],
      normativas: [],
      componentKey: 0,
      uploaded: false
    };
  },
  created() {},
  mounted() {
    this.bus.$on("openDialog", item => {
      this.$refs.form.reset();
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
      this.valArchivo = "Ya existe un archivo en la base de datos.";
      this.tempArchivo = this.selectedItem.adjunto;
      this.fileAdjunto = null;
    });
    this.getTiposDocumento();
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Nuevo " : "Editar ";
    },
    formAdjunto() {
      return this.selectedIndex === -1
        ? "Subir archivo PDF "
        : "Sustituir archivo PDF ";
    }
  },
  methods: {
    async getTiposDocumento() {
      let res = await axios.get("api/tipo_normativa");
      this.normativas = res.data;
    },
    renewKey() {
      this.componentKey += 1;
    },
    fileAdded(file) {
      this.files.push(file);
      this.uploaded = true;
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
      this.fileAdjunto = null;
      this.valArchivo = null;
      this.tempArchivo = null;
      this.uploaded = false;
      this.renewKey();
    },
    complete(file, status, xhr) {
      this.fileAdjunto = xhr.response;
      this.valArchivo = "Cargado correctamente.";
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            if (this.uploaded === true) {
              axios.post("api/upload/delete", { nombre: this.tempArchivo });
              this.selectedItem.adjunto = this.fileAdjunto;
            }
            await axios.put(
              "api/normativa/" + this.selectedItem.id,
              this.selectedItem
            );
          } else {
            this.selectedItem.adjunto = this.fileAdjunto;
            await axios.post("api/normativa", this.selectedItem);
          }
          this.$toast.success("Correcto.");
          this.close();
        }
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>