<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary" v-on:click.capture="openMap">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm4 md4>
              <v-card-text>
                <v-select
                  :items="departamentos"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.departamento_id"
                  @change="getProvincias()"
                  label="Departamento"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                <v-select
                  :items="provincias"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.provincia_id"
                  label="Provincia"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                <v-select
                  :items="regionales"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.regional_id"
                  label="Region"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                 <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="racionalizacion_date_formatted"
                          label="Fecha de racionalizacion"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-date-picker v-model="racionalizacion_date" no-title @input="menu = false"></v-date-picker>
                </v-menu>
               <v-select
                  :items="unidades"
                  item-text="descripcion"
                  item-value="id"
                  v-model="selectedItem.unidad_id"
                  label="Unidad"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                <v-select
                  :items="tipo_ejecucion"
                  item-text="descripcion_ejecucion"
                  item-value="id"
                  v-model="selectedItem.tipo_ejecucion"
                  label="Racionalizacion/Erradicacion"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-select>
                <v-text-field
                  v-model="selectedItem.hectareas_afectadas"
                  label="Hectareas afectadas"
                  type="number"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm4 md4>
              <v-card-text>
                <v-autocomplete                      
                  v-model="selectedItem.productor_id"
                  :loading="loading"
                  :items="productores"
                  :search-input.sync="search"
                  item-text="carnet_identidad"
                  item-value="id"
                  label="Carnet productor"
                  @change="getParcelasProductor(selectedItem.productor_id)"
                  >
                </v-autocomplete>              
                <v-text-field
                  v-model="selectedItem.latitud"
                  label="Latitud"
                  type="number"
                  :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'latitud incorrecta']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  disabled
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.longitud"
                  label="Longitud"
                  type="number"
                  :rules="[v => !!v || 'Requerido', v => /^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}/.test(v) || 'latitud incorrecta']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  disabled
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.hectareas"
                  label="Hectareas"
                  type="number"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  disabled
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripción"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 500) || 'No mayor a 500 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>         
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm4 md4>
              <v-card-text>
                <lmap style="height:300px" :bus="bus_map"/>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script src="./form.js" type="text/javascript">
</script>