<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.fecha_evaluacion"
                          label="Fecha de Evaluacion"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-date-picker v-model="selectedItem.fecha_evaluacion" no-title @input="menu = false"></v-date-picker>
                </v-menu>
                <v-textarea
                  v-model="selectedItem.informe"
                  label="Informe"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-textarea>
                <v-textarea
                  v-model="selectedItem.observaciones"
                  label="Observaciones"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card>
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <div class="dropbox" v-if="filesUpload.length==0">
              <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                accept="image/*" class="input-file">
              <p>
                  arrastre sus archivos aqui<br> or click to browse
              </p>
            </div>
            <v-flex
              v-for="img in filesUpload"
              :key="img.fileName"
              xs4
              d-flex
            >
              <v-card flat tile class="d-flex">
                <v-img
                  v-bind:src="img.src"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                      ma-0
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      menu: null,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      uploadFieldName: 'photos',
      currentStatus: null,
      filesUpload: []
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogEvaluar", item => {
      this.filesUpload = [];
      this.selectedItem.capacitacion_id = item.id;
      this.dialog = true;    
    });
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    } 
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          this.selectedItem.images = this.filesUpload;
          console.log(this.selectedItem);
          if (this.selectedIndex != -1) {
            await axios.put("api/capacitaciones/"+this.selectedItem.id, this.selectedItem)
          } else {
            await axios.post("api/capacitaciones/"+this.selectedItem.capacitacion_id+"/evaluar", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    filesChange(fieldName, files) {
      this.filesUpload = [];
      Array.from(Array(files.length).keys())
          .map(x => {
            var firstFile = files[x];
            var reader = new FileReader();
            reader.onload = this.fileOnload;
            reader.readAsDataURL(firstFile);
          });
    },
    fileOnload(e) {
      this.filesUpload.push({
        fileName: 'image'+this.filesUpload.length,
        src : e.target.result})
     }
  },  
};
</script>
<style lang="scss">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>