<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Capacitaciones</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="searchval"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <Form :bus="bus"/>
        <RemoveItem :bus="bus"/>
        <FormCon :bus="bus" />
        <FormEval :bus="bus"/>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center"> {{ props.item.fecha_capacitacion }} </td>
            <td class="text-xs-center"> {{ props.item.tipo_actividad }} </td>
            <td class="text-xs-center"> {{ props.item.responsable_nombre }} </td>
            <td class="text-xs-center"> {{ props.item.presupuesto }} </td>
            <td class="justify-center layout">
              <v-tooltip slot="activator" top>
                <v-btn :disabled="props.item.evaluacion_id!=null" slot="activator" flat icon color="primary" @click="EvaluarItem(props.item)">
                  <v-icon>present_to_all</v-icon>
                </v-btn>
                <span>Evaluacion</span>
              </v-tooltip>  
              <v-tooltip slot="activator" top>
                <v-btn :disabled="props.item.conclusion_id!=null" slot="activator" flat icon color="primary" @click="ConcluirItem(props.item)">
                  <v-icon>widgets</v-icon>
                </v-btn>
                <span>Conclusion</span>
              </v-tooltip>     
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="indigo" @click="editItem(props.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="red darken-3" @click="removeItem(props.item)">
                  <v-icon>delete</v-icon>
                </v-btn>
                <span>Eliminar</span>
              </v-tooltip>
            </td>
          </tr>
        </template>        
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ searchval }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "$comp/admin/RemoveItem";
import Form from "./Form";
import FormCon from "./FormConclusion";
import FormEval from "./FormEvaluacion";

export default {
  components: {
    RemoveItem,
    Form,
    FormCon,
    FormEval
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Fecha",
        value: "fecha_capacitacion",
        align: "center"
      },
      {
        text: "Tipo",
        value: "tipo_actividad",
        align: "center"
      },
      {
        text: "Responsable",
        value: "responsable_nombre",
        align: "center"
      },
      {
        text: "Presupuesto",
        value: "presupuesto",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    searchval: "",
    cancelSource: null
  }),
  computed: {},
  watch:{
    searchval (val) {
      val && val !== this.search && this.getCapacitaciones(val)
    }
  },
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    getCapacitaciones(val) {
      if(val.length<3)
        return;
      this.cancelSearch();
      this.cancelSource = axios.CancelToken.source();
      axios.get("api/capacitaciones/fullsearch?search="+val,{
      cancelToken: this.cancelSource.token})
      .then(res=>{
        this.table = res.data;
      })
    }, cancelSearch (){
      if(this.cancelSource) {
        this.cancelSource.cancel('canceled search');
      }
    },
    async getTable() {
      try {
        let res = await axios.get("api/capacitaciones")
        this.table = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    ConcluirItem(item){
      this.bus.$emit("openDialogConcluir", item);
    },
    EvaluarItem(item){
      this.bus.$emit("openDialogEvaluar", item);
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/capacitaciones/${item.id}`);      
    },
  }
};
</script>
