<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.nombre"
                  label="Nombre del proyecto u obra"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripción del proyecto u obra"
                  rows="1"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-textarea>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-select
                  :items="productores"
                  item-text="carnet_identidad"
                  item-value="id"
                  v-model="selectedItem.persona_id"
                  label="Carnet de identidad del productor y/o comercializador"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-select>
                <v-select
                  :items="tipos"
                  item-text="nombre"
                  item-value="id"
                  v-model="selectedItem.tipo_proy_obras_productor_id"
                  label="Tipo"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-select>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cancelar
        </v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()">
          <v-icon>check</v-icon>Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  props: ["item", "bus"],
  data() {
    return {
      valid: true,
      dialog: false,
      selectedIndex: -1,
      selectedItem: {},
      error: "",
      productores: [],
      tipos: []
    };
  },
  created() {},
  mounted() {
    this.bus.$on("openDialog", item => {
      this.$refs.form.reset();
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
    });
    this.getProductores();
    this.getTipoProyObra();
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Nuevo " : "Editar ";
    }
  },
  methods: {
    async getProductores() {
      let res1 = await axios.get(
        "api/persona/fill/" + JSON.stringify({ tipo_persona_id: 1 })
      );
      let res2 = await axios.get(
        "api/persona/fill/" + JSON.stringify({ tipo_persona_id: 2 })
      );
      let merged = [...res1.data, ...res2.data];
      this.productores = merged;
    },
    async getTipoProyObra() {
      let res = await axios.get("api/tipo_proy_obra");
      this.tipos = res.data;
    },
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
    },
    complete(file, status, xhr) {
      this.fileAdjunto = xhr.response;
      this.valArchivo = "Cargado correctamente.";
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put(
              "api/proy_obra/" + this.selectedItem.id,
              this.selectedItem
            );
          } else {
            await axios.post("api/proy_obra", this.selectedItem);
          }
          this.$toast.success("Correcto.");
          this.close();
        }
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>