<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Consulta de guías de internación</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm12 md12 v-if="sw == false">
              <v-card-text>              
                <v-text-field
                  v-model="selectedItem.carnet_identidad"
                  label="Introduzca su carnet de identidad"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                <v-text-field
                  v-model="begin_date_formatted"
                  label="Fecha de nacimiento"
                  prepend-icon="event"
                  readonly
                  slot="activator"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="es-bo"></v-date-picker>
                </v-menu>
                <v-alert
                  :value="true"
                  type="error"
                  v-if="error != ''"
                >
                  {{ error }}
                </v-alert>
								<v-btn class="btn-block" color="primary" small @click.native="searchActor()"><v-icon>search</v-icon> Consultar</v-btn>
              </v-card-text>
            </v-flex>
            <v-flex xs12 sm12 md12 v-if="sw == true">
              <v-toolbar>
                <v-toolbar-title>Guías de internación</v-toolbar-title>
                <v-spacer></v-spacer>   
                <v-divider
                  class="mx-2"
                  inset
                  vertical
                ></v-divider>
                <v-toolbar-title>
                  <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Buscar"
                      single-line
                      hide-details
                      width="20px"
                    ></v-text-field>
                </v-toolbar-title>
            </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="persona.guia_internacions"
                :search="search"
                :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
                disable-initial-sort
                class="elevation-1">
                <template slot="items" slot-scope="props">
                  <tr>
                    <td class="text-xs-center"> {{ props.item.correlativo }} </td>
                    <td class="text-xs-center"> {{ fullName(props.item.persona) }} </td>
                    <td class="text-xs-center"> {{ props.item.persona.carnet_identidad + ' ' + props.item.persona.departamento_extension.sigla }} </td>
                    <td class="text-xs-center">
                      <v-chip v-if="props.item.retencion.length > 0" small color="red" text-color="white">Retenido</v-chip>
                      <v-chip v-if="props.item.control_guia_internacion.length > 0" small color="green darken-2" text-color="white">Controlado</v-chip>
                      <v-chip v-if="props.item.control_guia_internacion.length == 0" small color="warning" text-color="white">En curso</v-chip>
                    </td>
                  </tr>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
                  Tu Busqueda de "{{ search }}" no encontró resultados.
                </v-alert>
                <template slot="no-data">
                  <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
                    Sin resultados.
                  </v-alert>
                </template>
            </v-data-table>
            <v-btn color="warning" small @click.native="research()" block><v-icon>search</v-icon>Volver a consultar</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      menu: null,
      begin_date: null,
			begin_date_formatted: null,
      sw: false,
      persona: null,
      search: '',
      headers: [
        {
          text: "Nro. Guía de internación",
          value: "correlativo",
          align: "center"
        },
        {
          text: "Nombre",
          value: "persona.primer_apellido",
          align: "center"
        },
        {
          text: "Carnet de identidad",
          value: "persona.carnet_identidad",
          align: "center"
        },
        {
          text: "Estado",
          value: "retencion",
          align: "center"
        },
      ],
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogQuestionGuia", () => {
      this.dialog = true;
		});
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  watch: {
    begin_date(val){
      this.selectedItem.fecha_nacimiento = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog")
      this.selectedIndex = -1
			this.selectedItem = {}
      this.sw = false
      this.begin_date_formatted = null
		},
		async searchActor(){
      try{
        if(this.$refs.form.validate()){
          this.selectedItem.tipo_persona_id = 1
          let res = await axios.post('api/persona/quest', this.selectedItem)
          if(res.data.length > 0){
            this.persona = res.data[0]
            this.sw = true
            this.error = ''
          }
          else{
            this.error = 'No se encontro información con los datos introducidos'
          }
        }
      }
      catch(e){
        console.log(e)
      }
    },
    research(){
      this.sw = false
      this.persona = {}
      this.error = ''
      this.selectedItem = {}
      this.begin_date_formatted = null
      this.menu = null
      this.begin_date = null
    },
    fullName(item) {
      return [item.nombre, item.primer_apellido, item.segundo_apellido].join(" ")
    }, 
  },  
};
</script>