<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation @submit.prevent>
          <v-layout wrap>
            <v-flex xs6 sm6 md6>
              <v-card-text>              
                <v-autocomplete
                  v-model="selectedItem.evento_id"
                  :rules="[v => !!v || 'requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                  prepend-icon="mdi-city"
                  :items="eventos"
                  item-text="titulo"
                  item-value="id"
                  label="Evento"
                ></v-autocomplete>
                <v-autocomplete
                  v-model="selectedItem.puesto_id"
                  :rules="[v => !!v || 'requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                  prepend-icon="mdi-city"
                  :items="puestos_control"
                  item-text="nombre"
                  item-value="id"
                  label="Puesto de control"
                ></v-autocomplete>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripcion"
                  :rules="[v => !!v || 'requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                >
                </v-textarea>
              </v-card-text>
            </v-flex>
            <v-flex xs6 sm6 md6>
              <v-menu
                        v-model="menu_ini"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.fecha_inicio"
                          label="Fecha de Inicio"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-date-picker v-model="selectedItem.fecha_inicio" no-title @input="menu = false"></v-date-picker>
                </v-menu>
                <v-menu
                        v-model="menu_hora_ini"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.hora_inicio"
                          label="Hora de Inicio"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-time-picker v-model="selectedItem.hora_inicio" :landscape="false" @input="menu = false"></v-time-picker>
                </v-menu>
                <v-menu
                        v-model="menu_fin"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.fecha_fin"
                          label="Fecha de finalizacion"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-date-picker v-model="selectedItem.fecha_fin" no-title @input="menu = false"></v-date-picker>
                </v-menu>
                <v-menu
                        v-model="menu_hora_fin"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                      >    
                <v-text-field
                          v-model="selectedItem.hora_fin"
                          label="Hora de Finalizacion"
                          prepend-icon="event"
                          readonly
                          slot="activator"
                          :rules="[v => !!v || 'Requerido']"
                          hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                          class="mr-2"
                        ></v-text-field>
                <v-time-picker v-model="selectedItem.hora_fin" :landscape="false" @input="menu = false"></v-time-picker>
                </v-menu>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      eventos: [],
      menu_ini: null,
      menu_hora_ini: null,
      menu_fin: null,
      menu_hora_fin: null,
      puestos_control:[],
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialog", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
    });
    this.getEventos();
    this.getPuestosControl();
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async getEventos () {
      const res = await axios.get("/api/notificaciones/eventos");
      this.eventos = res.data;
    },
    async getPuestosControl(){
      const res = await axios.get("/api/puesto_de_control");
      this.puestos_control = res.data;
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          let registro_evento = {
            evento_id: this.selectedItem.evento_id,
            puesto_id: this.selectedItem.puesto_id,
            observaciones: this.selectedItem.descripcion,
            hora_inicio: this.selectedItem.fecha_inicio +" "+ this.selectedItem.hora_inicio,
            hora_fin: this.selectedItem.fecha_fin+" "+ this.selectedItem.hora_fin
          }
            await axios.post("/api/notificaciones/registro_eventos", registro_evento)
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    }
  },  
};
</script>