<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.carnet_identidad"
                  label="Carnet de identidad"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        v-model="birth_date_formatted"
                        label="Fecha de nacimiento"
                        prepend-icon="event"
                        readonly
                        slot="activator"
                        :rules="[v => !!v || 'Requerido']"
                        hint="<span class='blue--text'>*Requerido</span>"
                        persistent-hint
                        class="mr-2"
                      ></v-text-field>
                      <v-date-picker
                        v-model="birth_date"
                        no-title
                        @input="menu = false"
                        locale="ES"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>
                <v-text-field
                  v-model="selectedItem.email"
                  label="Email"
                  :rules="[v => !!v || 'Requerido', v => /.+@.+/.test(v) || 'E-mail no es valido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                  class="mr-2"
                ></v-text-field>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.asunto"
                  label="Asunto"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.contenido"
                  label="Descripción de la consulta"
                  rows="1"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-textarea>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cancelar
        </v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()">
          <v-icon>check</v-icon>Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  props: ["item", "bus"],
  data() {
    return {
      valid: true,
      dialog: false,
      selectedIndex: -1,
      selectedItem: {},
      error: "",
      productores: [],
      tipos: [],
      birth_date: null,
      birth_date_formatted: null,
      menu: null
    };
  },
  created() {},
  mounted() {
    this.bus.$on("openDialog", item => {
      this.$refs.form.reset();
      this.selectedItem = item;
      this.birth_date_formatted = this.$moment(item.fecha_nacimiento).format(
        "DD/MM/YYYY"
      );
      this.dialog = true;
      this.selectedIndex = item;
    });
    this.getProductores();
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Nuevo " : "Editar ";
    }
  },
  watch: {
    birth_date(val) {
      this.selectedItem.fecha_nacimiento = val;
      this.birth_date_formatted =
        this.$moment(val).format("DD/MM/YYYY") ||
        this.$moment().format("DD/MM/YYYY");
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
    },
    async getProductores() {
      let res1 = await axios.get(
        "api/persona/fill/" + JSON.stringify({ tipo_persona_id: 1 })
      );
      let res2 = await axios.get(
        "api/persona/fill/" + JSON.stringify({ tipo_persona_id: 2 })
      );
      let merged = [...res1.data, ...res2.data];
      this.productores = merged;
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put(
              "api/consulta/" + this.selectedItem.id,
              this.selectedItem
            );
          } else {
            await axios.post("api/consulta", this.selectedItem);
          }
          this.$toast.success("Correcto.");
          this.close();
        }
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>