<template>
  <v-container fluid>
    <v-toolbar>
      <v-toolbar-title>Reportes de Industrialización</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-toolbar-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
          width="20px"
        ></v-text-field>
      </v-toolbar-title>
    </v-toolbar>
    <v-card>
      <v-card-text>
        <v-form ref="form1" v-model="valid" lazy-validation>
          <v-layout row wrap>
            <v-flex xs4>
              <v-subheader align-center class="black--text label0">Elegir fecha para el reporte</v-subheader>
            </v-flex>
            <v-flex xs4>
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  v-model="ini_date_formatted"
                  label="Fecha de inicio"
                  :value="formattedDate"
                  prepend-icon="event"
                  readonly
                  slot="activator"
                  :rules="[v => !!v || 'Requerido', validateIni]"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                  class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="begin_date" no-title @input="menu = false"></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs4>
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  v-model="fin_date_formatted"
                  label="Fecha de finalización"
                  :value="formattedDate"
                  prepend-icon="event"
                  readonly
                  slot="activator"
                  :rules="[v => !!v || 'Requerido', validateFin]"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                  class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="end_date" no-title @input="menu2 = false"></v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
    <v-data-table
      :headers="headers"
      :items="reportes"
      :search="search"
      :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
      disable-initial-sort
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-center">{{ props.item.name }}</td>
          <td class="justify-center layout">
            <v-tooltip top>
              <v-btn slot="activator" flat icon color="green" @click="reporteExcel(props.item)">
                <v-icon>note</v-icon>
              </v-btn>
              <span>Excel</span>
            </v-tooltip>
            <v-tooltip top>
              <v-btn
                slot="activator"
                flat
                icon
                color="red darken-3"
                @click="reportePDF(props.item)"
              >
                <v-icon>picture_as_pdf</v-icon>
              </v-btn>
              <span>PDF</span>
            </v-tooltip>
          </td>
        </tr>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="fa fa-times"
      >Tu Busqueda de "{{ search }}" no encontró resultados.</v-alert>
      <template slot="no-data">
        <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">Sin resultados.</v-alert>
      </template>
    </v-data-table>
  </v-container>
</template>


<script type="text/javascript">
import Vue from "vue";
import axios from "axios";
import DatetimePicker from "vuetify-datetime-picker";

export default {
  components: {},
  data: () => ({
    theDate: new Date(),
    headers: [
      {
        text: "Tipo de reporte",
        value: "name",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    reportes: [
      {
        id: "infoempind",
        name: "Reporte de Información General de Empresas Industrializadoras"
      },
      {
        id: "infoinv",
        name:
          "Reporte de Información General de Entidades e Instituciones de Investigación"
      },
      {
        id: "canthojemp",
        name:
          "Reporte de Cantidad de Hoja de Coca Comprada. Por empresa industrializadora, por de periodo de tiempo"
      }
    ],
    fecha: [],
    valid: true,
    menu: null,
    menu2: null,
    ini_date_formatted: null,
    fin_date_formatted: null,
    fecha_ini: null,
    fecha_fin: null,
    begin_date: null,
    end_date: null,
    search: "",
    api: "",
    param: "",
    filename: ""
  }),
  computed: {},
  mounted() {
    this.formattedDate();
  },
  watch: {
    begin_date(val) {
      this.fecha_ini = val;
      this.ini_date_formatted =
        this.$moment(val).format("DD/MM/YYYY") ||
        this.$moment().format("DD/MM/YYYY");
    },
    end_date(val) {
      this.fecha_fin = val;
      this.fin_date_formatted =
        this.$moment(val).format("DD/MM/YYYY") ||
        this.$moment().format("DD/MM/YYYY");
    }
  },
  methods: {
    validateIni(value) {
      if (this.fecha_ini > this.fecha_fin) {
        return "La fecha de inicio debe ser menor a la fecha de fin";
      } else {
        return true;
      }
    },
    validateFin(value) {
      if (this.fecha_ini > this.fecha_fin) {
        return "La fecha de fin debe ser mayor a la fecha de inicio";
      } else {
        return true;
      }
    },
    formattedDate() {
      this.ini_date_formatted = this.$moment(this.theDate).format("DD/MM/YYYY");
      this.fin_date_formatted = this.$moment(this.theDate).format("DD/MM/YYYY");
      this.fecha_ini = this.$moment(this.theDate).format("YYYY-MM-DD");
      this.fecha_fin = this.$moment(this.theDate).format("YYYY-MM-DD");
    },
    async getTable() {},
    async reporteExcel(reporte) {
      
      this.api = `api/reporte/excel/?tipo=${reporte.id}&fechaini=${this.fecha_ini}&fechafin=${this.fecha_fin}`
      this.filename = reporte.name;

      if (this.fecha_ini > this.fecha_fin) {
        this.$toast.error("Debe seleccionar la fecha correctamente");
      } else {
        try {
          let res = await axios({
            method: "GET",
            url: this.api,
            responseType: "arraybuffer"
          });

          let blob = new Blob([res.data], { type: "application/vnd.ms-excel" });
          const url = window.URL.createObjectURL(blob);
          const link = document.createElement("a");
          link.href = url;
          var currentDate = new Date();
          var today = this.$moment(currentDate).format("DD-MM-YYYY ");
          link.setAttribute("download", this.filename + "-" + today + ".xlsx"); //or any other extension
          document.body.appendChild(link);
          link.click();
        } catch (e) {
          console.log(e);
        }
      }
    },
    async reportePDF(reporte) {

      this.api = `api/reporte/pdf/?tipo=${reporte.id}&fechaini=${this.fecha_ini}&fechafin=${this.fecha_fin}`
      this.filename = reporte.name;

      if (this.fecha_ini > this.fecha_fin) {
        this.$toast.error("Debe seleccionar la fecha correctamente");
      } else {
        try {
          let res = await axios({
            method: "GET",
            url: this.api,
            responseType: "arraybuffer"
          });
          let blob = new Blob([res.data], { type: "application/pdf" });
          const url = window.URL.createObjectURL(blob);
          const link = document.createElement("a");
          link.href = url;
          var currentDate = new Date();
          var today = this.$moment(currentDate).format("DD-MM-YYYY ");
          link.setAttribute("download", this.filename + "-" + today + ".pdf");
          document.body.appendChild(link);
          link.click();
        } catch (e) {
          console.log(e);
        }
      }
    },
    formatDate(date) {
      return this.$moment(date).format("DD/MM/YYYY");
    }
  }
};
</script>
<style>
.label0 {
  font-size: 1.2em;
}
</style>
