<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Apertura de sobres</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <Form :bus="bus"/>
        <Propuesta :bus="bus" />
        <CloseProposal :bus="bus" />
        <ViewProposal :bus="bus"/>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.codigo_solicitud }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.razon_social }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ formatDate(props.item.fecha_recepcion) }} </td>
            <td class="justify-center layout">
              <v-tooltip top v-if="props.item.apertura == true">
                <v-btn slot="activator" flat icon color="indigo" @click="addProposal(props.item)">
                  <v-icon>tab</v-icon>
                </v-btn>
                <span>Añadir propuestas</span>
              </v-tooltip>
              <v-tooltip top v-if="props.item.apertura == true">
                <v-btn slot="activator" flat icon color="success" @click="closeProposal(props.item)">
                  <v-icon>lock_open</v-icon>
                </v-btn>
                <span>Cerrar apertura de propuestas</span>
              </v-tooltip>
              <v-tooltip top v-if="props.item.apertura == false">
                <v-btn slot="activator" flat icon color="error" @click="viewProposal(props.item)">
                  <v-icon>lock</v-icon>
                </v-btn>
                <span>Apertura cerrada</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <h2 class="justify-center layout">PROPUESTAS</h2>
          <v-card flat color="blue-grey lighten-5">
            <v-card-text >
              <v-layout row wrap>
                <v-flex xs12>
                  <v-data-table
                    :headers="headers2"
                    :items="props.item.propuestas"
                    :search="search"
                    :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
                    disable-initial-sort
                    class="elevation-1">
                  <template slot="items" slot-scope="props">
                    <tr>
                      <td class="text-xs-center"> {{ props.item.nombre }} </td>
                      <td class="text-xs-center"> {{ props.item.nombre_representante }} </td>
                      <td class="justify-center layout">
                        <v-tooltip top v-if="props.item.aceptado == null">
                          <v-btn slot="activator" flat icon color="indigo" @click="apertura(props.item)" :disabled="props.item.solicitud.apertura == true ? false : true">
                            <v-icon>open_in_browser</v-icon>
                          </v-btn>
                          <span>Apertura de propuesta</span>
                        </v-tooltip>
                        <v-tooltip top v-if="props.item.aceptado == false">
                          <v-btn slot="activator" flat icon color="error" :disabled="props.item.solicitud.apertura == true ? false : true">
                            <v-icon>highlight_off</v-icon>
                          </v-btn>
                          <span>Propuesta Reprobada</span>
                        </v-tooltip>
                        <v-tooltip top v-if="props.item.aceptado == true">
                          <v-btn slot="activator" flat icon color="success" :disabled="props.item.solicitud.apertura == true ? false : true">
                            <v-icon>check_circle</v-icon>
                          </v-btn>
                          <span>Propuesta Aprobada</span>
                        </v-tooltip>
                      </td>
                    </tr>
                  </template>
                  </v-data-table>
                </v-flex>
              </v-layout>
              </v-card-text>
          </v-card>
        </template>  
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue"
import axios from 'axios'
import Form from "./Form";
import Propuesta from "./Propuesta"
import CloseProposal from './CloseProposal'
import ViewProposal from './ViewProposal'

export default {
  components: {
    Form,
    Propuesta,
    CloseProposal,
    ViewProposal
  },
  data: () => ({
    bus: new Vue(),
    headers2: [
      {
        text: "Nombre de la propuesta",
        value: "propuesta.nombre",
        align: "center"
      },
      {
        text: "Representante",
        value: "propuesta.nombre_representante",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    headers: [
      {
        text: "Código Solicitud",
        value: "codigo_solicitud",
        align: "center"
      },
      {
        text: "Razon social",
        value: "razon_social",
        align: "center"
      },
      {
        text: "Fecha de recepción",
        value: "fecha_recepcion",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/solicitud")
        this.table = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
    addProposal(item){
      this.bus.$emit('openDialogProposal', item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/convocatoria/${item.id}`);      
    },
    async apertura(item){
      this.bus.$emit('openDialogProposalV', item)
    },
    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY")
    },
    async closeProposal(item){
      this.bus.$emit('openDialogCloseProposal', item)
    },
    async viewProposal(item){
      this.bus.$emit('openDialogDictamen', item)
    },
  }
};
</script>
