<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Verificación de propuesta</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-card-text>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ selectedItem.solicitud.convocatoria.proyecto.nombre }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Proyecto</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ selectedItem.solicitud.convocatoria.codigo_referencia }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Convocatoria</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-card-text>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs12 sm6 md6>
            <v-card-text>  
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>Requisitos</strong></v-list-tile-title>
                  <v-list-tile-sub-title v-for="req in selectedItem.solicitud.convocatoria.requisitos" :key="req.id">- {{ req.nombre }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-card-text>
          </v-flex>
        </v-layout>
        <span class="justify-center layout"><strong>¿Cumple con los requisitos la propuesta?</strong></span>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="indigo" small @click.native="close" class="white--text">Cerrar</v-btn>
        <v-btn color="error" small @click.native="sendEval(false)"><v-icon>close</v-icon>No, Reprobado</v-btn>
        <v-btn color="success" small @click.native="sendEval(true)"><v-icon>check</v-icon>Si, Aprobado</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'

export default {
  props: ['bus', 'item'],
  data: () => ({
    table: [],
    search: "",
    selectedItem: {
      solicitud: {
          convocatoria: {
            proyecto: {
              nombre: ''
            },
            codigo_referencia: '',
            requisitos: []
          },
        },
    },
    dialog: false,
    error: ''
  }),
  computed: {},
  mounted() {
    this.bus.$on("openDialogProposalV", item => {
      this.selectedItem = item
      this.dialog = true
      console.log(this.selectedItem)
    });
  },
  methods: {
    close() {
      this.dialog = false;
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {
        solicitud: {
          convocatoria: {
            proyecto: {
              nombre: ''
            },
            codigo_referencia: '',
            requisitos: []
          },
        },
      }
    },
    async sendEval(valor){
      try {
        this.selectedItem.aceptado = valor
        await axios.put('api/propuesta/'+this.selectedItem.id, this.selectedItem)
        this.$toast.success('Correcto.')
        this.close();
      } catch(e) {
        console.log(e)
      }
      
    }
  }
}
</script>