<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Dictamen de cierre de apertura de sobres</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-card-text>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ formatDate(dictamen.fecha) }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Fecha</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ dictamen.informe }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Informe</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ dictamen.observaciones }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Observaciones</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-card-text>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs12 sm6 md6>
            <v-card-text>
              <h4>Archivos adjuntos</h4>
              <span v-for="abj in archivos" :key="abj.ruta">
                <a :href="abj.ruta" target="blank"><v-icon color="red">picture_as_pdf</v-icon></a>
              </span>
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="indigo" small @click.native="close" class="white--text">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'

export default {
  props: ['bus', 'item'],
  data: () => ({
    table: [],
    search: "",
    dictamen: {},
    dialog: false,
    error: '',
    archivos: [],
  }),
  computed: {},
  mounted() {
    this.bus.$on("openDialogDictamen", item => {
      this.dictamen = item.dictamen_apertura_sobres[0]
      this.archivos = JSON.parse(this.dictamen.adjuntos)
      this.dialog = true
    });
  },
  methods: {
    close() {
      this.dialog = false;
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.dictamen = {}
      this.archivos = []
    },
    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY")
    }
  }
}
</script>