<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Listado de Eventos del Sistema</v-toolbar-title>
        <v-spacer></v-spacer>   
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.user.name }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.method }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.path }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.data }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.ip_address }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ formatDate(props.item.created_at) }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ formatDate(props.item.updated_at) }} </td>
             
          </tr>
        </template>
    
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'

export default {
  components: {

  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Usuario",
        value: "user_name",
        align: "center"
      },
      {
        text: "Evento",
        value: "method",
        align: "center"
      },      
      {
        text: "Path",
        value: "path",
        align: "center"
      },
      {
        text: "Data",
        value: "data"
      },
      {
        text: "Ip Address",
        value: "ip_address",
        align: "center"
      },
      {
        text: "Created_at",
        value: "created_at",
        align: "center"
      },
      {
        text: "Updated_at",
        value: "updated_at",
        align: "center"
      },
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {           
    this.getTable();
    this.bus.$on("closeDialog", () => {
    this.getTable();
    });  
  },

  methods: {
    async getTable() {
      try {
        
        let res = await axios.get("api/action/index")
        this.table = res.data
      } catch (e) {
        console.log(e)
      }    
    }, 

    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY hh:mm:ss")
    }
  }
};
</script>
