<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Cierre de la OII</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                  <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="begin_date_formatted"
                    label="Fecha"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="ES"></v-date-picker>
                </v-menu>

                <v-text-field 
                  v-model="selectedItem.responsable"
                  label="Responsable"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field> 

                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="end_date_formatted"
                    label="Fecha cierre"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="end_date" no-title @input="menu2 = false" locale="ES"></v-date-picker>
                </v-menu>       
                <v-text-field 
                  v-model="selectedItem.presupuesto_ejecutado"
                  label="Presupuesto ejecutado"
                  type="number"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>                              
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>            
                <template>
                  <vue-clip 
                      :options="options" 
                      :on-complete="complete">
                      <template slot="clip-uploader-action">                        
                      <div class="dz-message v-btn v-btn--small theme--light success">Subir fotografías PDF</div>                        
                      </template>
                      <template slot="clip-uploader-body" slot-scope="props">                            
                      <div v-for="(file, index) in props.files" :key="index">
                          <v-icon color="success" v-if="file.status=='success'">check_circle</v-icon>
                          <span class="green--text" v-if="file.status=='success'"> correcto.</span>                            
                          <v-icon color="error" v-if="file.status=='error'">error</v-icon> 
                          <span class="red--text" v-if="file.status=='error'"> {{ file.errorMessage }}</span>
                      </div>
                      </template>                  
                  </vue-clip>
                </template>
                <v-text-field
                  v-model="valArchivo"
                  readonly box
                  label="Archivo PDF"
                ></v-text-field>   
                <template>
                    <v-card flat color="blue-grey lighten-5">
                      <v-card-text >
                            <table class="v-table theme--light">                      
                              <tr>
                                <th class="text-xs-left">Adjunto: </th>
                                <td class="text-xs-left">
                                  <v-btn icon :href="selectedItem.fotografias" target="_blank">
                                    <v-icon color="red">picture_as_pdf</v-icon>
                                  </v-btn>
                                </td>
                              </tr>
                            </table>
                        </v-card-text>
                    </v-card>
                </template>    
                 <v-text-field 
                  v-model="selectedItem.conclusiones"
                  label="Conclusiones"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>        
            </v-flex>     
          </v-layout> 
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  components: {
    
  },
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      convocatorias: [],
      begin_date: null,
      begin_date_formatted: null,
      end_date: null,
      end_date_formatted: null,
      menu: null,
      menu2: null,
      error: '',
       options: {
        url: 'api/upload/file',
        headers: axios.defaults.headers.common,
        paramName: 'file',
        uploadMultiple: false,
        acceptedFiles: {
          extensions:  ['application/pdf'],
          message: 'Formato no permitido.'
        },
        maxFilesize: {
          limit: 5,
          message: 'El archivo excede los 5Mb.'
        },
        maxFiles: 1,
      },
      fileAdjunto: null,
      valArchivo: null,
      
    };
    
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogForm", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;    
      this.getConvocatorias();
      this.begin_date_formatted = this.$moment(item.fecha).format("DD/MM/YYYY")
      this.end_date_formatted = this.$moment(item.fecha_cierre).format("DD/MM/YYYY")
    });
      this.getConvocatorias();

  },
  computed: {   
  },
  
  watch: {    
    begin_date(val){
      this.selectedItem.fecha = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
    end_date(val){
      this.selectedItem.fecha_cierre = val
      this.end_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  },

  methods: {  
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialogForm");
      this.selectedIndex = -1;
      this.selectedItem = {};    
    }, 
    
    complete (file, status, xhr) {
      this.fileAdjunto = xhr.response
      this.valArchivo = "Cargado correctamente."
    },

    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedItem.proyecto_id == null) {             
            this.selectedItem.proyecto_id = this.selectedItem.idproyecto,   
            this.selectedItem.fotografias = this.fileAdjunto,            
            await axios.post("api/cierreobra", this.selectedItem)        
          } else {
            await axios.put("api/cierreobra/"+this.selectedItem.id, this.selectedItem)  
          }
          this.$toast.success('Correcto.')
          this.close();        
        }
      } catch(e) {
        console.log(e)
      }
    },    
    async getConvocatorias() {
      let res = await axios.get("api/convocatoria/cierreobrafill")
      this.convocatorias = res.data
    },
  },  
};
</script>