<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Cierre de la Obra de Impacto Inmediato</v-toolbar-title>
        <v-spacer></v-spacer>   
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <Form :bus="bus"/>
        <RemoveItem :bus="bus"/> 
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.nombre }} </td>
            <!-- <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ formatDate(props.item.fecha_inicio) }} </td> -->
             <td class="justify-center layout">
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="indigo" @click="evaluarItem(props.item)">
                  <v-icon>assignment</v-icon>
                </v-btn>
                <span>Cierre Proyecto</span>
              </v-tooltip> 
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="red darken-3" @click="removeItem(props.item)">
                  <v-icon>delete</v-icon>
                </v-btn>
                <span>Eliminar</span>
              </v-tooltip>
                   
            </td>
          </tr>
        </template>

         <template v-slot:expand="props">
          <v-card flat color="blue-grey lighten-5">
            <v-card-text >
              <v-card-text >
              <v-layout row wrap>
                <v-flex class="justify-center layout" xs12>
                  <h2>Convocatoria</h2>
                </v-flex>
                <v-flex xs12>
                  <table class="v-table theme--light">
                    <tr>
                      <th class="text-xs-left">Código referencia : </th>
                      <td class="text-xs-left">{{ props.item.codigo_referencia }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Indicaciones calificables: </th>
                      <td class="text-xs-left">{{ props.item.indicaciones_calificables }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Fecha inicio: </th>
                      <td class="text-xs-left">{{ formatDate(props.item.fecha_inicio) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Fecha final: </th>
                      <td class="text-xs-left">{{ formatDate(props.item.fecha_fin) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Términos de referencia : </th>
                      <td class="text-xs-left">{{ props.item.terminos_referencia }}</td>
                    </tr>
                  </table>
                </v-flex>
              </v-layout>
              </v-card-text>
              <v-layout row wrap>
                <v-flex class="justify-center layout" xs12>
                  <h2>Supervisión</h2>
                </v-flex>
                <v-flex xs12>
                  <table class="v-table theme--light">
                    <tr>
                      <th class="text-xs-left">Responsable : </th>
                      <td class="text-xs-left">{{ props.item.responsable }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Fecha Visita : </th>
                      <td class="text-xs-left">{{ formatDate(props.item.fecha_visita) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Porcentaje Avance : </th>
                      <td class="text-xs-left">{{ props.item.porcentaje_avance }}</td>
                    </tr>
                    <template>
                      <v-card flat color="blue-grey lighten-5">
                        <v-card-text >
                              <table class="v-table theme--light">                      
                                <tr>
                                  <th class="text-xs-left">Adjunto: </th>
                                  <td class="text-xs-left">
                                    <v-btn icon :href="props.item.fotografias" target="_blank">
                                      <v-icon color="red">picture_as_pdf</v-icon>
                                    </v-btn>
                                  </td>
                                </tr>
                              </table>
                          </v-card-text>
                      </v-card>
                    </template>          
                  </table>
                </v-flex>                
              </v-layout>
              </v-card-text>
          </v-card>
        </template>  
    
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "../../admin/RemoveItem";
import Form from "./Form";

export default {
  components: {
    Form,
    RemoveItem
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Nombre Proyecto",
        value: "nombre",
        align: "center"
      },
      // {
      //   text: "Fecha Aprobación",
      //   value: "fecha",
      //   align: "center"
      // },      
      {
        text: "Opciones",
        align: "center",
        sortable: false,
        width: "270"
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {           
    this.getTable();
    this.bus.$on("closeDialog", () => {
    this.getTable();
    }); 
    this.bus.$on("closeDialogForm", () => {
      this.getTable()
    });
  },

  methods: {
    async getTable() {
      try {        
        //let res = await axios.get("api/convocatoria/fill/"+JSON.stringify({'tipo_proyecto': 2,'priorizacion':true}))
        let res = await axios.get("api/proyecto/cierreobrafill")                
        this.table = res.data
      } catch (e) {
        console.log(e)
      }    
    }, 

    evaluarItem(item) {    
      this.bus.$emit("openDialogForm", (item));
    },   

    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/cierreobra/${item.idcierre}`);      
    },

    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY")
    },   
  }
};
</script>
