<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="indigo">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>      
                <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ solicitud.convocatoria.proyecto.nombre }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Proyecto</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ solicitud.convocatoria.codigo_referencia }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Codigo de referencia</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ solicitud.convocatoria.indicaciones_calificables }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Indicaciones calificables</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile> 
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-list-tile-title><strong>{{ solicitud.convocatoria.terminos_referencia }}</strong></v-list-tile-title>
                  <v-list-tile-sub-title>Términos referenciales</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>               
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>                
                <v-text-field
                  v-model="selectedItem.calificacion"
                  type="number"
                  label="Calificación (0 - 100)"
                  :rules="[v => !!v || 'Requerido', v => (v <= 100) || 'La nota no debe ser mayor a 100', v => (v >= 0) || 'La nota no debe ser menor a 0']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>           
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      solicitud: {
          convocatoria: {
          proyecto: {
            nombre: ''
          },
          codigo_referencia: '',
          indicaciones_calificables: '',
          terminos_referencia: ''
        }
      }
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogEvaluate", item => {
      this.solicitud = item;
      this.dialog = true;
      this.selectedIndex = item;
    });
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          await axios.put("api/solicitud/"+this.solicitud.id, this.selectedItem)
          this.selectedItem.proyecto_id = this.solicitud.convocatoria.proyecto.id
          this.selectedItem.solicitud_id = this.solicitud.id
          if(this.selectedItem.calificacion >= 51){
            await axios.post('api/solicitud_aprobada', this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    async getMunicipios(){
      let res = await axios.get('api/municipio');
      this.municipios = res.data;
      console.log(res.data)
    }
  },  
};
</script>