<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Proyectos a evaluar</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <Form :bus="bus"/>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.proyecto.nombre }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.codigo_referencia }} </td>
            <td class="justify-center layout">
              <v-tooltip top v-if="props.item.apertura == true">
                <v-btn slot="activator" flat icon color="indigo" @click="addProposal(props.item)">
                  <v-icon>tab</v-icon>
                </v-btn>
                <span>Añadir propuestas</span>
              </v-tooltip>
              <v-tooltip top v-if="props.item.apertura == true">
                <v-btn slot="activator" flat icon color="success" @click="closeProposal(props.item)">
                  <v-icon>lock_open</v-icon>
                </v-btn>
                <span>Cerrar apertura de propuestas</span>
              </v-tooltip>
              <v-tooltip top v-if="props.item.apertura == false">
                <v-btn slot="activator" flat icon color="error" @click="viewProposal(props.item)">
                  <v-icon>lock</v-icon>
                </v-btn>
                <span>Apertura cerrada</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <h2 class="justify-center layout">SOLICITUDES A EVALUAR</h2>
          <v-card flat color="blue-grey lighten-5">
            <v-card-text >
              <v-layout row wrap>
                <v-flex xs12>
                  <v-data-table
                    :headers="headers2"
                    :items="props.item.solicitudes"
                    :search="search"
                    :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
                    disable-initial-sort
                    class="elevation-1">
                  <template slot="items" slot-scope="props">
                    <tr>
                      <td class="text-xs-center"> {{ props.item.codigo_solicitud }} </td>
                      <td class="text-xs-center"> {{ props.item.razon_social }} </td>
                      <td class="text-xs-center"> {{ props.item.fecha_recepcion }} </td>
                      <td class="justify-center layout">
                        <v-tooltip top v-if="props.item.calificacion == null">
                          <v-btn slot="activator" flat icon color="indigo" @click="evaluateProject(props.item)">
                            <v-icon>check</v-icon>
                          </v-btn>
                          <span>calificar</span>
                        </v-tooltip>
                        <span top v-if="props.item.calificacion != null">
                          {{ props.item.calificacion }}
                        </span>
                      </td>
                    </tr>
                  </template>
                  </v-data-table>
                </v-flex>
              </v-layout>
              </v-card-text>
          </v-card>
        </template>  
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue"
import axios from 'axios'
import Form from "./Form";

export default {
  components: {
    Form,
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Nombre del proyecto",
        value: "proyecto.nombre",
        align: "center"
      },
      {
        text: "Código de referencia(convocatoria)",
        value: "codigo_referencia",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    headers2: [
      {
        text: "Código Solicitud",
        value: "codigo_solicitud",
        align: "center"
      },
      {
        text: "Razon social",
        value: "razon_social",
        align: "center"
      },
      {
        text: "Fecha de recepción",
        value: "fecha_recepcion",
        align: "center"
      },
      {
        text: "Calificación",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/convocatoria/fill/"+JSON.stringify({"tipo_proyecto": 1}))
        let aux = []
        let sw = false
        for(let temp of res.data){
          for(let temp2 of temp.solicitudes){
            if(temp2.apertura == false){
              sw = true
            }
          }
          if(sw == true){
            aux.push(temp)
            sw = false
          }
        }
        this.table = aux;
        console.log(res.data)
      } catch (e) {
        console.log(e);
      }
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/convocatoria/${item.id}`);      
    },
    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY")
    },
    evaluateProject(item){
      this.bus.$emit('openDialogEvaluate', item)
    }
  }
};
</script>
