<template>
  <v-layout row wrap>
    <v-flex xs12 sm12 md3>
      <QuestionInfo :bus="bus" />
      <QuestionGuia :bus="bus" />
      <QuestionHoja :bus="bus" />
      <QuestionNormativa :bus="bus" />
      <QuestionProyecto :bus="bus" />
      <QuestionAutorizacion :bus="bus" />
      <QuestionProducto :bus="bus" />
      <QuestionInvestigacion :bus="bus" />
      <QuestionConsulta :bus="bus" />
      <QuestionReclamo :bus="bus" />    
       <v-card>
         <v-toolbar color="primary" dark>
            <v-toolbar-title>Menú</v-toolbar-title>
  
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-list>
            <v-list-tile
              v-for="item in opciones"
              :key="item.title"
              avatar
            >
              <v-list-tile-action>
                <v-icon color="primary">trending_flat</v-icon>
              </v-list-tile-action>

              <v-list-tile-content>
                <a href="#" @click.prevent="callModal(item)">
                  <v-list-tile-title v-text="item.content"></v-list-tile-title>
                </a>
              </v-list-tile-content>

            </v-list-tile>
          </v-list>
        </v-card>
    </v-flex>
    <v-flex xs12 sm12 md6 px-1>
      <v-card>
        <v-carousel hide-controls>
          <v-carousel-item
            v-for="(item,i) in carrousells"
            :key="i"
            :src="item.src"
          ></v-carousel-item>
        </v-carousel>
      </v-card>
    </v-flex>
    <v-flex xs12 sm12 md3>
       <v-card>
         <v-toolbar color="primary" dark>
            <v-toolbar-title>Enlaces Institucionales</v-toolbar-title>
  
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-list>
            <v-list-tile
              v-for="item in enlaces"
              :key="item.id"
              avatar
            >

              <v-list-tile-content>
                <a :href="item.enlace" target="_black">
                  <v-list-tile-title v-text="item.nombre"></v-list-tile-title>
                </a>
              </v-list-tile-content>

            </v-list-tile>
          </v-list>
        </v-card>
    </v-flex>
    <v-footer
      height="auto"
    >
      <v-card
        flat
        tile
        class="success lighten-1 white--text text-xs-center rounded-card"
      >
        <v-card-text class="white--text pt-2">
          Sistema Integrado de la Hoja de Coca - Desarrollado para el Ministerio de Desarrollo Rural y Tierras estipulada en la Ley General de la Coca, Ley N° 906, Reglamento de la Ley N° 906, Decreto Supremo N° 3318, Artículo 49 que dice "SISCOCA es el registro informático digitalizado de todas las actividades vinculadas a la coca."
        </v-card-text>
        <label class="white--text" v-for="contacto in contactos" :key="contacto.id">
            Tel: (591) {{contacto.telefono}}
            Cel: (591) {{contacto.celular}}
            <br/>
        </label>
  
        <v-divider></v-divider>
  
        <v-card-text class="white--text">
          &copy;2019 — <strong>Ministerio de Desarrollo Rural y Tierras</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-layout>
</template>

<script>
import Vue from "vue"
import axios from 'axios'
import QuestionInfo from './consulta_registro/Index'
import QuestionHoja from './consulta_hoja/Index'
import QuestionGuia from './consulta_guia/Index'
import QuestionNormativa from './normativa/Index'
import QuestionProyecto from './proyecto/Index'
import QuestionAutorizacion from './autorizacion/Index'
import QuestionProducto from './producto/Index'
import QuestionInvestigacion from './investigacion/Index'
import QuestionConsulta from './consulta/Index'
import QuestionReclamo from './reclamo/Index'

export default {
  components:{
    QuestionInfo,
    QuestionHoja,
    QuestionGuia,
    QuestionNormativa,
    QuestionProyecto,
    QuestionAutorizacion,
    QuestionProducto,
    QuestionInvestigacion,
    QuestionConsulta,
    QuestionReclamo
  },
  data: () => ({
    bus: new Vue(),
    opciones: [
      {
        title: '1',
        content: 'Consulta de registro',
        event: 'QuestionInfo'
      },
      {
        title: '2',
        content: 'Consulta de guías de internación',
        event: 'QuestionGuia',
      },
      {
        title: '3',
        content: 'Consulta de hojas de ruta',
        event: 'QuestionHoja'
      },
      {
        title: 'normativa',
        content: 'Normativa vigente',
        event: 'QuestionNormativa'
      },   
      {
        title: 'proyecto',
        content: 'Proyectos y obras',
        event: 'QuestionProyecto'
      }, 
      {
        title: 'autorizacion',
        content: 'Información de interés para productores',
        event: 'QuestionAutorizacion'
      },  
      {
        title: 'producto',
        content: 'Productos industrializados',
        event: 'QuestionProducto'
      },   
      {
        title: 'investigacion',
        content: 'Investigaciones sobre la coca',
        event: 'QuestionInvestigacion'
      },
      {
        title: 'consulta',
        content: 'Sección de consultas',
        event: 'QuestionConsulta'
      },     
      {
        title: 'reclamo',
        content: 'Sección de reclamos',
        event: 'QuestionReclamo'
      },                                           
    ],
    enlaces: [
      {
        title: '1',
        content: 'Ministerio de Desarrollo Rural y Tierras',
        url: 'https://www.ruralytierras.gob.bo'
      },

    ],
    carrousells: [
      {
        src: '/img/img1.png'
      },
      {
        src: '/img/img2.png'
      }
    ],
    contactos: [],
  }),
  mounted() {
    this.getEnlaces();
    this.getContactos();
  },  
  methods: {
    callModal(item){
      this.bus.$emit('openDialog'+item.event)
    },
    async getEnlaces() {
      try {
        let res = await axios.get("api/portal_enlace_institucional");
        this.enlaces = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    async getContactos() {
      try {
        let res = await axios.get("api/portal_callcenter");
        this.contactos = res.data;
      } catch (e) {
        console.log(e);
      }      
    }
  }
}
</script>

<style lang="css">
  .rounded-card{
      border-radius:10px;
  }
</style>