<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="primary">add_circle</v-icon>
      <span>Nuevo</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.nombre"
                  label="Nombre del producto"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 50) || 'No mayor a 50 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-textarea
                  v-model="selectedItem.descripcion"
                  label="Descripción del producto"
                  rows="1"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-textarea>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-select
                  :items="autorizado"
                  item-text="name"
                  item-value="value"
                  v-model="selectedItem.autorizado"
                  label="Autorizar"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-select>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cancelar
        </v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()">
          <v-icon>check</v-icon>Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  props: ["item", "bus"],
  data() {
    return {
      valid: true,
      dialog: false,
      selectedIndex: -1,
      selectedItem: {},
      error: "",
      productores: [],
      tipos: [],
      autorizado: [
        {
          name: "SI",
          value: true
        },
        {
          name: "NO",
          value: false
        }
      ]
    };
  },
  created() {},
  mounted() {
    this.bus.$on("openDialog", item => {
      this.$refs.form.reset();
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;
    });
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Nuevo " : "Editar ";
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
    },
    complete(file, status, xhr) {
      this.fileAdjunto = xhr.response;
      this.valArchivo = "Cargado correctamente.";
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put(
              "api/prod_autorizado/" + this.selectedItem.id,
              this.selectedItem
            );
          } else {
            await axios.post("api/prod_autorizado", this.selectedItem);
          }
          this.$toast.success("Correcto.");
          this.close();
        }
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>