<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Proyectos</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <Form :bus="bus"/>
        <RemoveItem :bus="bus"/>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.nombre }} </td>
            <td class="justify-center layout">              
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="indigo" @click="editItem(props.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="red darken-3" @click="removeItem(props.item)">
                  <v-icon>delete</v-icon>
                </v-btn>
                <span>Eliminar</span>
              </v-tooltip>
            </td>
          </tr>
        </template>      
        <template v-slot:expand="props">
          <v-card flat color="blue-grey lighten-5">
            <v-card-text >
              <v-layout row wrap>
                <v-flex class="justify-center layout" xs12>
                  <h2>Convocatoria</h2>
                </v-flex>
                <v-flex xs12>
                  <table class="v-table theme--light">
                    <tr>
                      <th class="text-xs-left">Código referencia : </th>
                      <td class="text-xs-left">{{ props.item.convocatoria.codigo_referencia }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Indicaciones calificables: </th>                   
                      <td class="text-xs-left">{{ props.item.convocatoria.indicaciones_calificables }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Fecha inicio: </th>
                      <td class="text-xs-left">{{ formatDate(props.item.convocatoria.fecha_inicio) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Fecha final: </th>
                      <td class="text-xs-left">{{ formatDate(props.item.convocatoria.fecha_fin) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Terminos de referencia : </th>
                      <td class="text-xs-left">{{ props.item.convocatoria.terminos_referencia }}</td>
                    </tr>
                  </table>
                </v-flex>
              </v-layout>
              </v-card-text>
          </v-card>
        </template>    
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "../../admin/RemoveItem";
import Form from "./Form";

export default {
  components: {
    RemoveItem,
    Form,
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Nombre",
        value: "nombre",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/proyecto")
        this.table = res.data;
      } catch (e) {
        console.log(e);
      }
    },
    editItem(item) {
      this.bus.$emit("openDialog", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/proyecto/${item.id}`);      
    },

    formatDate(date){
    return this.$moment(date).format("DD/MM/YYYY")
  }
  }
};
</script>
