<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Ejecución de proyecto</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >                       
                  <v-text-field
                    v-model="begin_date_formatted"
                    label="Fecha"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="ES"></v-date-picker>
                </v-menu>
                <v-text-field
                  v-model="selectedItem.responsable"
                  label="Responsable"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
                <v-text-field
                  v-model="selectedItem.actividades"
                  label="Actividades"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-text-field>
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
              <v-card-text>  
                <v-textarea
                  v-model="selectedItem.cronograma"
                  label="Cronograma"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>              
                <vue-clip 
                  :options="options" 
                  :on-complete="complete">
                  <template slot="clip-uploader-action">                        
                    <div class="dz-message v-btn v-btn--small theme--light info">Subir archivo PDF</div>                        
                  </template>
                  <template slot="clip-uploader-body" slot-scope="props">                            
                    <div v-for="(file, index) in props.files" :key="index">
                      <v-icon color="success" v-if="file.status=='success'">check_circle</v-icon>
                      <span class="green--text" v-if="file.status=='success'"> Guardado.</span>                            
                      <v-icon color="error" v-if="file.status=='error'">error</v-icon>                            
                      <span class="red--text" v-if="file.status=='error'"> {{ file.errorMessage }}</span>
                    </div>
                  </template>
                </vue-clip>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueClip from 'vue-clip'

Vue.use(VueClip)

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      error: '',
      proyecto: {},
      begin_date: null,
      begin_date_formatted: null,
      menu: null,
      options: {
        url: 'api/upload/file',
        headers: axios.defaults.headers.common,
        paramName: 'file',
        uploadMultiple: true,
        acceptedFiles: {
          extensions:  ['application/pdf'],
          message: 'Formato no permitido.'
        },
        maxFilesize: {
          limit: 5,
          message: 'El archivo excede los 5Mb.'
        },
        maxFiles: 1,
      },
    };
  },
  watch:{
    begin_date(val){
      this.selectedItem.fecha = val
      this.begin_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },
  }, 
  created() {},  
  mounted() {
    this.bus.$on("openDialogProject", item => {
      this.proyecto = item
      this.dialog = true;
      this.selectedIndex = item;
      let date = new Date()
      this.selectedItem.fecha = date
      this.begin_date_formatted = this.$moment(date).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    });
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  methods: {
    close() {
      this.dialog = false;
      this.$refs.form.reset()
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {}
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          this.selectedItem.proyecto_id = this.proyecto.id
          await axios.post("api/ejecucion_proyecto", this.selectedItem)
          this.$toast.success('Correcto.')
          this.close();
        }
      } catch(e) {
        console.log(e)
      }
    },
    complete (file, status, xhr) {
      this.selectedItem.contrato = xhr.response
    }
  },  
};
</script>