<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Ejecución de proyectos</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              single-line
              hide-details
              width="20px"
            ></v-text-field>
        </v-toolbar-title>
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <Form :bus="bus"/>
        <RemoveItem :bus="bus"/>
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.nombre }} </td>
            <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.municipio.nombre }} </td>
            <td class="justify-center layout">              
              <v-tooltip top>
                <v-btn slot="activator" flat icon color="indigo" v-if="props.item.ejecucion == null" @click="runProject(props.item)">
                  <v-icon>perm_data_setting</v-icon>
                </v-btn>
                <span>Ejecutar Proyecto</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <v-card v-if="props.item.ejecucion != null" flat color="blue-grey lighten-5">
            <v-card-text >
              <v-layout row wrap>
                <h5>Ejecucion del proyecto</h5>
                <v-flex xs12>
                  <table class="v-table theme--light">
                    <tr>
                      <th class="text-xs-left">Fecha: </th>
                      <td class="text-xs-left">{{ formatDate(props.item.ejecucion.fecha) }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Responsable: </th>
                      <td class="text-xs-left">{{ props.item.ejecucion.responsable }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Actividades: </th>
                      <td class="text-xs-left">{{ props.item.ejecucion.actividades }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Cronograma: </th>
                      <td class="text-xs-left">{{ props.item.ejecucion.cronograma }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Contrato: </th>
                      <td class="text-xs-left">
                        <span>
                          <a :href="props.item.ejecucion.contrato" target="blank"><v-icon color="red">picture_as_pdf</v-icon></a>
                        </span>
                      </td>
                    </tr>
                  </table>
                </v-flex>
              </v-layout>
              </v-card-text>
          </v-card>
        </template>  
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "../../admin/RemoveItem";
import Form from "./Form";

export default {
  components: {
    RemoveItem,
    Form,
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Nombre del proyecto",
        value: "nombre",
        align: "center"
      },
      {
        text: "Municipio",
        value: "municipio.nombre",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/proyecto")
        let aux = []
        let obj = {}
        for(let temp of res.data){
          if(temp.evaluacion_cofinanciamientos.length > 0){
            obj = temp.ejecucion_proyecto[0]
            temp.ejecucion = obj
            aux.push(temp)
          }
        }
        this.table = aux;
      } catch (e) {
        console.log(e);
      }
    },
    runProject(item) {
      this.bus.$emit("openDialogProject", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/departamento/${item.id}`);      
    },
    formatDate(date){
      return this.$moment(date).format("DD/MM/YYYY")
    }
  }
};
</script>
