<template>
  <v-container fluid>
    <v-toolbar>
        <v-toolbar-title>Entidades con servicios</v-toolbar-title>
        <v-spacer></v-spacer>        
        <v-divider
          class="mx-2"
          inset
          vertical
        ></v-divider>
        <v-toolbar-title>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
            width="20px"
          ></v-text-field>
        </v-toolbar-title>
        <Form :bus="bus"/>
        <RemoveItem :bus="bus" />
    </v-toolbar>
    <v-data-table
        :headers="headers"
        :items="table.users"
        :search="search"
        :rows-per-page-items="[10,20,30,{text:'TODO',value:-1}]"
        disable-initial-sort
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <template v-if="props.item.entidad_servicios.length > 0">
              <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.name }} </td>
              <td class="text-xs-center" @click="props.expanded = !props.expanded"> {{ props.item.email }} </td>
              <td class="justify-center layout">
                <v-tooltip top v-if="props.item.entidad_servicios == 0">
                  <v-btn slot="activator" flat icon color="indigo" @click="addEntidad(props.item)">
                    <v-icon>home</v-icon>
                  </v-btn>
                  <span>Registrar entidad</span>
                </v-tooltip>
                <v-tooltip top v-if="props.item.entidad_servicios.length > 0">
                  <v-btn slot="activator" flat icon color="indigo" @click="editEntidad(props.item.entidad_servicios[0])">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <span>Editar entidad</span>
                </v-tooltip>
              </td>
            </template>
            <template v-if="props.item.entidad_servicios.length == 0">
              <td class="text-xs-center"> {{ props.item.name }} </td>
              <td class="text-xs-center"> {{ props.item.email }} </td>
              <td class="justify-center layout">
                <v-tooltip top v-if="props.item.entidad_servicios == 0">
                  <v-btn slot="activator" flat icon color="indigo" @click="addEntidad(props.item)">
                    <v-icon>home</v-icon>
                  </v-btn>
                  <span>Registrar entidad</span>
                </v-tooltip>
                <v-tooltip top v-if="props.item.entidad_servicios.length > 0">
                  <v-btn slot="activator" flat icon color="indigo" @click="editEntidad(props.item.entidad_servicios[0])">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <span>Editar entidad</span>
                </v-tooltip>
              </td>
            </template>
          </tr>
        </template>
        <template v-slot:expand="props">
          <v-card flat color="blue-grey lighten-5">
            <h2 class="justify-center layout">ENTIDAD DE SERVICIO</h2>
            <v-card-text >
              <v-layout row wrap>
                <v-flex xs12>
                  <table class="v-table theme--light">
                    <tr>
                      <th class="text-xs-left">Nombre: </th>
                      <td class="text-xs-left">{{ props.item.entidad_servicios[0].nombre }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Genero: </th>
                      <td class="text-xs-left">{{ props.item.entidad_servicios[0].responsable }}</td>
                    </tr>
                    <tr>
                      <th class="text-xs-left">Telefono: </th>
                      <td class="text-xs-left">{{ props.item.entidad_servicios[0].descripcion }}</td>
                    </tr>
                  </table>
                </v-flex>
              </v-layout>
              </v-card-text>
          </v-card>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="fa fa-times">
          Tu Busqueda de "{{ search }}" no encontró resultados.
        </v-alert>
        <template slot="no-data">
          <v-alert slot="no-results" :value="true" color="info" icon="fa fa-times">
            Sin resultados.
          </v-alert>
        </template>
    </v-data-table>
  </v-container>
</template>
<script type="text/javascript">
import Vue from "vue";
import axios from 'axios'
import RemoveItem from "../../admin/RemoveItem";
import Form from "./Form";

export default {
  components: {
    RemoveItem,
    Form,
  },
  data: () => ({
    bus: new Vue(),
    headers: [
      {
        text: "Nombre",
        value: "nombre",
        align: "center"
      },
      {
        text: "Email",
        value: "email",
        align: "center"
      },
      {
        text: "Opciones",
        align: "center",
        sortable: false
      }
    ],
    table: [],
    search: "",
  }),
  computed: {},
  mounted() {
    this.getTable();
    this.bus.$on("closeDialog", () => {
      this.getTable();
    });
  },
  methods: {
    async getTable() {
      try {
        let res = await axios.get("api/role/fill/"+JSON.stringify({'id': 9}))
        console.log(res.data[0].users)
        this.table = res.data[0];
      } catch (e) {
        console.log(e);
      }
    },
    addEntidad(item) {
      this.bus.$emit("openDialogAdd", item);
    },
    editEntidad(item) {
      this.bus.$emit("openDialogEdit", item);
    },
    async removeItem(item) {
      this.bus.$emit("openDialogRemove", `api/central/${item.id}`);      
    },
  }
};
</script>
