<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-tooltip slot="activator" top>
      <v-icon large slot="activator" dark color="indigo">add_circle</v-icon>
      <span>Crear Convocatoria</span>
    </v-tooltip>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">{{ formTitle }}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>        
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-card-text>
                <v-text-field 
                  v-model="selectedItem.codigo_referencia"
                  label="Codigo Referencia"
                  :rules="[v => !!v || 'Requerido', v => (v && v.length <= 15) || 'No mayor a 15 caracteres']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  :error-messages="error"
                ></v-text-field>                
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px">  

                <v-text-field
                v-model="fecha_date_formatted"
                label="Fecha Inicio"
                prepend-icon="event"
                readonly slot="activator"
                :rules="[v => !!v || 'Requerido']"
                hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="fecha_date" no-title @input="menu = false" locale="es-bo"></v-date-picker>
                </v-menu>

                <v-card-text>                
                  <v-textarea
                    v-model="selectedItem.terminos_referencia"
                    label="Terminos de Referencia"
                    hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  ></v-textarea>                
                </v-card-text>          
              </v-card-text>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs12 sm6 md6>
                <v-autocomplete                      
                  v-model="selectedItem.tipo_convocatoria_id"
                  :items="convocatorias"
                  item-text="nombre"
                  item-value="id"
                  label="Tipo de Convocatoria"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                  class="mr-2">
                </v-autocomplete>
               <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px">    
                <v-text-field
                v-model="fecha_date_formatted2"
                label="Fecha Finalizacion"
                prepend-icon="event"
                readonly slot="activator"
                :rules="[v => !!v || 'Requerido']"
                hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                class="mr-2"
                ></v-text-field>
                <v-date-picker v-model="fecha_date2" no-title @input="menu2 = false" locale="es-bo"></v-date-picker>
                </v-menu>
               <v-card-text>                
                <v-textarea
                  v-model="selectedItem.indicaciones_calificables"
                  label="Indicaciones Calificables"
                  hint="<span class='blue--text'>*Requerido</span>" persistent-hint
                ></v-textarea>                
              </v-card-text>

            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>  
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close"><v-icon>close</v-icon> Cancelar</v-btn>
        <v-btn color="success" small :disabled="!valid" @click="save()" ><v-icon>check</v-icon> Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default {
  props: ["item", "bus"],  
  data() {
    return {      
      valid: true,
      dialog: false,
      selectedIndex: -1,     
      selectedItem: {},
      convocatorias: [],
      fecha_date: null,
      fecha_date2: null,
      fecha_date_formatted: null,
      fecha_date_formatted2: null,
      menu: null,
      menu2: null,
      error: ''
    };
  },
  created() {},  
  mounted() {
    this.bus.$on("openDialogForm", item => {
      this.selectedItem = item;
      this.dialog = true;
      this.selectedIndex = item;      
      this.fecha_date_formatted = this.$moment().format("DD/MM/YYYY")
      this.fecha_date_formatted2 = this.$moment().format("DD/MM/YYYY")
      this.getTipoConvocatoria()     
    });
    this.getTipoConvocatoria()

  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? 'Nuevo ' : 'Editar '
    }    
  },
  
  watch: {
    fecha_date(val){
      this.selectedItem.fecha_inicio = val
      this.fecha_date_formatted = this.$moment(val).format("DD/MM/YYYY") || this.$moment().format("DD/MM/YYYY");
    },

    fecha_date2(val){
      this.selectedItem.fecha_fin = val
      this.fecha_date_formatted2 = this.$moment(val).format("DD/MM/YYYY")
    }
  },

  methods: { 
 
    close() {
      this.dialog = false;
      this.$refs.form.reset();
      this.bus.$emit("closeDialogForm");
      this.selectedIndex = -1;
      this.selectedItem = {};
    
    },
    async save() {
      try {
        if (this.$refs.form.validate()) {
          if (this.selectedIndex != -1) {
            await axios.put("api/convocatoria/"+this.selectedItem.id, this.selectedItem)
          } else {
            this.selectedItem.tipo_proyecto = 2
            await axios.post("api/convocatoria", this.selectedItem)
          }
          this.$toast.success('Correcto.')
          this.close();        
        }
      } catch(e) {
        console.log(e)
      }
    },    
    async getTipoConvocatoria() {
      let res = await axios.get("api/tipo_convocatoria")
      this.convocatorias = res.data
    }, 
  },  
};
</script>