<template>
  <v-dialog persistent v-model="dialog" max-width="900px" @keydown.esc="close">
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">Consulta de registro de Productor y Comercializador</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm12 md12 v-if="sw == false">
              <v-card-text>
                <v-text-field
                  v-model="selectedItem.carnet_identidad"
                  label="Introduzca su carnet de identidad"
                  :rules="[v => !!v || 'Requerido']"
                  hint="<span class='blue--text'>*Requerido</span>"
                  persistent-hint
                ></v-text-field>
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    v-model="begin_date_formatted"
                    label="Fecha de nacimiento"
                    prepend-icon="event"
                    readonly
                    slot="activator"
                    :rules="[v => !!v || 'Requerido']"
                    hint="<span class='blue--text'>*Requerido</span>"
                    persistent-hint
                    class="mr-2"
                  ></v-text-field>
                  <v-date-picker v-model="begin_date" no-title @input="menu = false" locale="es-bo"></v-date-picker>
                </v-menu>
                <v-alert :value="true" type="error" v-if="error != ''">{{ error }}</v-alert>
                <v-btn class="btn-block" color="primary" small @click.native="searchActor()">
                  <v-icon>search</v-icon>Consultar
                </v-btn>
              </v-card-text>
            </v-flex>
            <v-flex xs12 sm12 md12 v-if="sw == true">
              <span class="justify-center layout">
                <strong>
                  <h2>Datos del {{ persona.tipo_persona.nombre }}</h2>
                </strong>
              </span>
              <table border="1" style="width: 100%; font-size: 18px">
                <tr>
                  <th class="text-xs-left">Registro:</th>
                  <td class="text-xs-left">{{ persona.tipo_persona.nombre }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Carnet de identidad:</th>
                  <td
                    class="text-xs-left"
                  >{{ persona.carnet_identidad }} {{ persona.departamento_extension.sigla }}</td>
                </tr>
                <tr>
                  <th class="text-xs-left">Nombre completo:</th>
                  <td
                    class="text-xs-left"
                  >{{ persona.nombre }} {{ persona.primer_apellido }} {{ persona.segundo_apellido }}</td>
                </tr>
                <tr
                  v-if="persona.carnet_comercializador.length == 0 && persona.carnet_productor.length == 0"
                >
                  <th class="text-xs-center" colspan="2">No hay información sobre los carnets</th>
                </tr>
                <tr
                  v-if="persona.carnet_productor.length > 0 || persona.carnet_comercializador.length > 0"
                >
                  <th
                    class="text-xs-center"
                    colspan="2"
                  >Su carnet vigente vencerá en: {{ endDate(persona) }} días</th>
                </tr>
                <tr v-if="persona.carnet_productor.length > 0">
                  <td colspan="2">
                    <table border="1" style="width: 100%; font-size: 18px">
                      <thead>
                        <tr>
                          <th>Carnet</th>
                          <th>Duplicado</th>
                          <th>Fecha de emisión</th>
                          <th>Fecha de conclusión</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="carnet in persona.carnet_productor" :key="carnet.id">
                          <td>{{ carnet.carnet }}</td>
                          <td>{{ carnet.duplicado }}</td>
                          <td>{{ carnet.fecha_emision }}</td>
                          <td>{{ carnet.fecha_conclusion }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr v-if="persona.carnet_comercializador.length > 0">
                  <td colspan="2">
                    <table border="1" style="width: 100%; font-size: 18px">
                      <thead>
                        <tr>
                          <th>Carnet</th>
                          <th>Duplicado</th>
                          <th>Fecha de emisión</th>
                          <th>Fecha de conclusión</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="carnet in persona.carnet_comercializador" :key="carnet.id">
                          <td>{{ carnet.carnet }}</td>
                          <td>{{ carnet.duplicado }}</td>
                          <td>{{ carnet.fecha_emision }}</td>
                          <td>{{ carnet.fecha_conclusion }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
              <v-btn color="warning" small @click.native="research()" block>
                <v-icon>search</v-icon>Volver a consultar
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" small @click.native="close">
          <v-icon>close</v-icon>Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Vue from "vue";
import axios from "axios";

export default {
  props: ["bus"],
  data() {
    return {
      valid: true,
      dialog: false,
      selectedIndex: -1,
      selectedItem: {},
      error: "",
      menu: null,
      begin_date: null,
      begin_date_formatted: null,
      sw: false,
      persona: null
    };
  },
  created() {},
  mounted() {
    this.bus.$on("openDialogQuestionInfo", () => {
      this.dialog = true;
    });
  },
  computed: {
    formTitle() {
      return this.selectedIndex === -1 ? "Nuevo " : "Editar ";
    }
  },
  watch: {
    begin_date(val) {
      this.selectedItem.fecha_nacimiento = val;
      this.begin_date_formatted =
        this.$moment(val).format("DD/MM/YYYY") ||
        this.$moment().format("DD/MM/YYYY");
    }
  },
  methods: {
    close() {
      this.dialog = false;
      this.bus.$emit("closeDialog");
      this.selectedIndex = -1;
      this.selectedItem = {};
      this.sw = false;
      this.begin_date_formatted = null;
    },
    async searchActor() {
      try {
        if (this.$refs.form.validate()) {
          let res = await axios.post("api/persona/quest", this.selectedItem);
          if (res.data.length > 0) {
            this.persona = res.data[0];
            this.sw = true;
            this.error = "";
          } else {
            this.error =
              "No se encontro información con los datos introducidos";
          }
        }
      } catch (e) {
        console.log(e);
      }
    },
    research() {
      this.sw = false;
      this.persona = {};
      this.error = "";
      this.selectedItem = {};
      this.begin_date_formatted = null;
      this.menu = null;
      this.begin_date = null;
    },
    endDate(persona) {
      if (persona.tipo_persona_id == 1 || persona.tipo_persona_id == 2) {
        var fechaini = new Date();
        var fechafin = new Date(persona.carnet_productor[0].fecha_conclusion);
        var diasdif= fechafin.getTime()-fechaini.getTime();
        var contdias = Math.round(diasdif/(1000*60*60*24));
        return contdias
      }
      if (persona.tipo_persona_id == 3) {
        var fechaini = new Date();
        var fechafin = new Date(persona.carnet_comercializador[0].fecha_conclusion);
        var diasdif= fechafin.getTime()-fechaini.getTime();
        var contdias = Math.round(diasdif/(1000*60*60*24));
        return contdias
      }
    }
  }
};
</script>